*{ 
	margin:0; padding:0;
}

html,
body {
    font-size: 62.5% !important;
    margin: 0;
    border: 0;
    width: 100%;
    height: 120%;
    background:#C3D6F2;
}

.Backend-background{
	width: 100%;
	height: 130%;
	position: relative;
}

.login{
	width: 7rem;
	height:7rem;
	border-radius:50%;
	background-color: cornflowerblue;
	margin: 1rem;
	box-shadow: 0 0.1rem 0.2rem 0 #697886d3;
	position:absolute;
}

.login:hover{
	transform: translateX(1rem);
	transition: 0.5s;
}

.login_{
	color:white;
	font-size: 2rem;
	position:absolute;
	top: 28%;
	left: 20%;
}

.Backend-title{
	text-align: center;
	font-size: 4rem;
	padding: 2rem;
}

.card a {
	color: inherit;
	text-decoration: none;
}

.card:hover {
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
}

.card__thumb {
	height: 24.5rem;	
	overflow: hidden;
	background-color: #000;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
}

.card__thumb img {
	display: block;
	opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	position: absolute;
	width: 100%;
}

.card:hover .card__thumb {
	height: 13rem;
}

.card:hover .card__thumb img {
	opacity: 0.6;
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card__body {
	position: relative;
	height: 100%;
	padding: 2rem;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	background:#FFFFCC;
}

.card:hover .card__body {
	height: 110%;
}

.card__category {
	position: absolute;
	top: -3rem;
	left: 0;
	height: 3rem;
	padding:0.5rem 1.5rem;
	background-color:#6676ff;
	color: #fff;
	text-transform: uppercase;	
	font-size: 2rem;
	line-height: 2.5rem;
	border-top-right-radius: 1rem;
}

.card__title {
	margin: 0;
	padding: 0 0 1rem 0;
	font-size: 4.5rem;
	font-weight: bold;
	color: #666C74;
}
.card__description_s{
	opacity: 1;
	font-size: 1.8rem;
	color: #666C74;
}
.card__description {
	position: absolute;
	left: 2rem;
	right: 2rem;
	top: 25%;
	margin: 0;
	padding: 0;
	color: #666C74;
	line-height: 2.8rem;
	font-size: 1.8rem;
	opacity: 0;
	-webkit-transform: translateY(4.5rem);
    transform: translateY(4.5rem);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.card:hover .card__description {
	opacity: 1;
	-webkit-transform: translateY(0);
    transform: translateY(0);
	-webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.card:hover .card__description_s {
	opacity: 0;
}

.card1 {
	position: absolute;
	top: 30%;
	left: 70%;
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
	width: 30%;
	height: 30%;
	background-color: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	overflow: hidden;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	z-index: 1;
	border-radius: 1rem;
}

.card {
	position: absolute;
	top: 30%;
	left: 31%;
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
	width: 30%;
	height: 30%;
	background-color: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	overflow: hidden;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	z-index: 1;
	border-radius: 1rem;
}

.card1 a {
	color: inherit;
	text-decoration: none;
}

.card1:hover {
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
}

.card__thumb1 {
	height: 24.5rem;
	overflow: hidden;
	background-color: #000;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
}

.card__thumb1 img {
	display: block;
	opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	position: absolute;
	width: 100%;
	height: 63%;
}
.card1:hover .card__thumb1 {
	height: 13rem;
}

.card1:hover .card__thumb1 img {
	opacity: 0.6;
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card1:hover .card__body {
	height: 110%;
}

.card__category {
	position: absolute;
	top: -3rem;
	left: 0;
	height: 3rem;
	padding:0.5rem 1.5rem;
	background-color:#6676ff;
	color: #fff;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 2.5rem;
	border-top-right-radius: 1rem;
}

.card__title {
	margin: 0;
	padding: 0 0 1rem 0;
	font-size: 2.2rem;
	font-weight: bold;
	text-transform: uppercase;
}
.card__description1_s{
	opacity: 1;
	font-size: 1.8rem;
	color: #666C74;
}
.card__description1 {
	position: absolute;
	left: 2rem;
	right: 2rem;
	top: 26%;
	color: #666C74;
	line-height: 2.8rem;
	font-size: 1.8rem;
	opacity: 0;
	-webkit-transform: translateY(4.5rem);
    transform: translateY(4.5rem);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.card1:hover .card__description1 {
	opacity: 1;
	-webkit-transform: translateY(0);
    transform: translateY(0);
	-webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.card1:hover .card__description1_s {
	opacity: 0;
}
.container{
	position: absolute;
	top: 80%;
	left: 15%;
}
.title_s{
	position: absolute;
	left: 30%;
	top: 70%;
	font-size: 3.5rem;
}
#title_1, #title_2{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2.5rem;
}
[class^="col"]{
    /* border: 1px solid black; */
}
[class^="theme"]{
    background: #FFFFCC;
    font-size: 2.1rem;
    display: block;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 0;
	border-radius: 4px;
	font-weight: bold;
	color: #666C74;
}
#card_4{
    margin: 0.5rem 0;
}
.page_1, .page_2, .page_3, .page_4, .page_5, .page_6{
    background: #FFCC99;
    padding: 1rem 1rem;
    overflow: hidden;
    border-radius: 4px;
}
.page_1 p, .page_2 p, .page_3, .page_4, .page_5, .page_6 p{
	font-size: 2rem;
	color: #565b61;
	font-weight: 300;
}
@media screen and (min-width:280px) and (max-width:330px){
	html,body{
		height: 185%;
	}
	.login{
		width: 5rem;
		height: 5rem;
	}
	.login_{
		font-size: 1.5rem;
	}
	.Backend-background{
		height: 50%;
	}
	.container{
		width: 98%;
		left: 2%;
		top: 107%;
	}
	.title_s{
		left: 10%;
		top: 102%;
		font-size: 2.5rem;
	}
	.card__body{
		top: -30%;
	}
	.card1:hover {
		height: 40%;
	}
	.card:hover {
		height: 40%;
	}
	.card1:hover .card__body{
		top: -15%;
	} 
	.card:hover .card__body{
		top: -15%;
	} 
	.card{
		left: 51%;
		width: 80%;
		top: 35%;
		height: 30%;
	}
	.card1{
		width: 80%;
		left: 51%;
		top: 75%;
		height: 30%;
	}
	.card__description{
		top: 14%;
		line-height: 2.5rem;
	}
	.card__description1{
		top: 15%;
		line-height: 2.2rem;
	}
	.card__thumb1 img {
		height: 55%;
	}
}
@media screen and (min-width:330px) and (max-width:380px){
	html,body{
		height: 180%;
	}
	.Backend-background{
		height: 50%;
	}
	.container{
		width: 98%;
		left: 2%;
		top: 113%;
	}
	.title_s{
		position: absolute;
		left: 10%;
		top: 108%;
		font-size: 2rem;
	}
	.card__body{
		top: -30%;
	}
	.card1:hover {
		height: 45%;
	}
	.card:hover {
		height: 45%;
	}
	.card1:hover .card__body{
		top: -10%;
	} 
	.card:hover .card__body{
		top: -10%;
	} 
	.card{
		left: 51%;
		width: 80%;
		top: 37%;
		height: 33%;
	}
	.card1{
		width: 80%;
		left: 51%;
		top: 83%;
		height: 33%;
	}
	.card__description{
		top: 13%;
		line-height: 3rem;
	}
	.card__description1{
		top: 10%;
		line-height: 3rem;
	}
	.card__thumb1 img {
		height: 55%;
	}
	.card__thumb img {
		top: -10%;
	}
}
@media screen and (min-width:380px) and (max-width:480px){
	html,body{
		height: 170%;
	}
	.Backend-background{
		height: 50%;
	}
	.container{
		width: 98%;
		left: 2%;
		top: 120%;
	}
	.title_s{
		position: absolute;
		left: 10%;
		top: 115%;
		font-size: 2rem;
	}
	.card__body{
		top: -30%;
	}
	.card1:hover {
		height: 45%;
	}
	.card:hover {
		height: 45%;
	}
	.card1:hover .card__body{
		top: -10%;
	} 
	.card:hover .card__body{
		top: -10%;
	} 
	.card{
		left: 51%;
		width: 80%;
		top: 40%;
		height: 33%;
	}
	.card1{
		width: 80%;
		left: 51%;
		top: 88%;
		height: 33%;
	}
	.card__description{
		top: 15%;
		line-height: 3rem;
	}
	.card__description1{
		top: 15%;
		line-height: 3rem;
	}
	.card__description_s{
		font-size: 2rem;
	}
	.card__description1_s{
		font-size: 2rem;
	}
	.card__thumb1 img {
		height: 55%;
	}
	.card__thumb img {
		top: -10%;
	}
}
@media screen and (min-width:480px) and (max-width:550px){
	html,body{
		height: 155%;
	}
	.Backend-title{
		font-size: 5rem;
	}
	.Backend-background{
		height: 50%;
	}
	.title_s{
		position: absolute;
		left: 17%;
		top: 112%;
		font-size: 2.5rem;
	}
	.container{
		width: 78%;
		left: 12%;
		top: 117%;
	}
	.card__body{
		top: -35%;
	}
	.card1:hover {
		height: 45%;
	}
	.card:hover {
		height: 45%;
	}
	.card1:hover .card__body{
		top: -15%;
	} 
	.card:hover .card__body{
		top: -15%;
	} 
	.card{
		left: 50%;
		width: 65%;
		height: 35%;
		top: 37%;
	}
	.card1{
		left: 50%;
		width: 65%;
		height: 35%;
		top: 35%;
	}
	.card__description {
		font-size: 2rem;
		line-height: 3rem;
		top: 33%;
	}
	.card__description1 {
		font-size: 2rem;
		line-height: 3rem;
		top: 13%;
	}
	.card__title{
		font-size: 2.5rem;
	}
	.card__category {
		top: -3.5rem;
		height: 3.5rem;
		padding:0.5rem 1.5rem;
		font-size: 2.5rem;
		line-height: 3rem;
	}
	.card1{
		width: 65%;
		left: 50%;
		top: 85%;
	}
	.card__description{
		top: 14%;
	}
	.card__thumb1 img {
		height: 55%;
	}
	.card__thumb img {
		top: -20%;
	}
}

@media screen and (min-width:550px) and (max-width:768px){
			html,body{
				height: 135%;
			}
			.Backend-title{
				font-size: 5rem;
			}
			.Backend-background{
				height: 50%;
			}
		    .container{
		    	width: 85%;
		    	left: 8%;
		    	top: 130%;
			}
			.title_s{
				left: 19%;
				top: 125%;
				font-size: 2.5rem;
			}
			.card__body{
				top: -5%;
			}
			.card1:hover .card__body{
				top: -15%;
			} 
			.card:hover .card__body{
				top: -15%;
			} 
		    .card{
		    	left: 50%;
		    	width: 65%;
				height: 45%;
				top: 40%;
		    }
			.card__description {
				font-size: 2.5rem;
				line-height: 3.5rem;
				top: 16%;
			}
			.card__description1 {
				font-size: 2.5rem;
				line-height: 3.5rem;
				top: 16%;
			}
			.card__title{
				font-size: 4rem;
			}
			.card__category {
				top: -4.5rem;
				height: 4.5rem;
				padding:0.5rem 1.5rem;
				font-size: 3rem;
				line-height: 3.5rem;
			}
		    .card1{
		    	width: 65%;
		    	left: 50%;
				top: 93%;
				height: 45%;
			}
			.card__description_s {
				font-size: 3rem;
			}
			.card__description1_s {
				font-size: 3rem;
			}
}

@media only screen and (device-width: 375px) and (device-height: 812px) {
	html,body{
		height: 160%;
	}
	.Backend-background{
		height: 50%;
	}
	.container{
		width: 98%;
		left: 2%;
		top: 118%;
	}
	.title_s{
		position: absolute;
		left: 10%;
		top: 113%;
		font-size: 2rem;
	}
	.card__body{
		top: -30%;
	}
	.card1:hover {
		height: 45%;
	}
	.card:hover {
		height: 45%;
	}
	.card1:hover .card__body{
		top: -10%;
	} 
	.card:hover .card__body{
		top: -10%;
	} 
	.card{
		left: 51%;
		width: 80%;
		top: 37%;
		height: 33%;
	}
	.card1{
		width: 80%;
		left: 51%;
		top: 85%;
		height: 33%;
	}
	.card__description{
		top: 13%;
		line-height: 3rem;
	}
	.card__description1{
		top: 10%;
		line-height: 3rem;
	}
	.card__thumb1 img {
		height: 55%;
	}
	.card__thumb img {
		top: -10%;
	}
}
@media screen and (min-width:769px) and (max-width:1199px){
	
html,
body {
    height: 100%;
}

.Backend-background{
	height: 80%;
}

.Backend-title{
	font-size: 5rem;
}

.card1 {
	width: 35%;
	left: 72%;
	height: 38%;
}
.card__body{
	top: -10%;
}
.card{
	width: 35%;
	left: 30%;
	height: 35%;
}
.card1{
	height: 35%;
}
.card__description {
	top: 15%;
}
.card__description1 {
	top: 15%;
}
.container{
	width: 100%;
	left: 0%;
	top: 65%;
}
.title_s{
	left: 19%;
	top:60%;
	font-size: 2.5rem;
}
.card1:hover .card__body{
	top: -15%;
} 
.card:hover .card__body{
	top: -15%;
} 
}
@media screen and (min-width:1200px) and (max-width:1499px){
	html,body{
		height: 120%;
	}
	.card__category {
		top: -2.5rem;
		height: 2.5rem;	
		font-size: 1.5rem;
		line-height: 2rem;
	}
	
	.card__title {
		font-size: 2rem;
	}
	
	.card__body {
		top: -20%;
	}

	.card__description {
		line-height: 2.7rem;
		font-size: 1.7rem;
		top: 15%;
	}
	
	
	.card1 {
		top: 30;
		width: 25%;
		height: 27%;
	}
	
	.card {
		top: 30%;
		width: 25%;
		height: 27%;
	}
	
	.card__description1 {
		line-height: 2.7rem;
		font-size: 1.7rem;
		top: 15%;
	}
	.container{
		width: 100%;
		left:0%;
		top: 55%;
	}
	.title_s{
		left: 19%;
		top:50%;
		font-size: 2.5rem;
	}
	}
	
@media screen and (min-width:1500px) and (max-width:1700px){
	
.Backend-title{
	font-size: 5rem;
}

.card__thumb img {
	top: -25%;
}

.card__category {
	top: -2.8rem;
	height: 2.8rem;	
	font-size: 1.8rem;
	line-height: 2.3rem;
}

.card__title {
	font-size: 2.3rem;
}


.card__description {
	line-height: 3rem;
	font-size: 1.8rem;
	top: 15%;
}


.card1 {
	width: 25%;
	height: 25%;
}

.card {
	width: 25%;
	height: 25%;
}

.card__description1 {
	line-height: 3rem;
	font-size: 1.8rem;
	top: 13%;
}

.container{
	width: 100%;
	left: 0%;
	top: 55%;
}
.title_s{
	left: 19%;
	top:52%;
	font-size: 2.5rem;
}
.card__body{
	top: -20%;
}
}
@media screen and (min-width:1701px) and (max-width:2001px){
	
	.Backend-title{
		font-size: 5rem;
	}
	
	.card__thumb img {
		top: -25%;
	}
	
	.card__category {
		top: -3.3rem;
		height: 3.3rem;	
		font-size: 2.3rem;
		line-height: 2.8rem;
	}
	
	.card__title {
		font-size: 2.8rem;
	}
	.card__body{
		top: -20%;
	}

	.card__description {
		line-height: 3.5rem;
		font-size: 2rem;
		top: 15%;
	}
	
	
	.card1 {
		width: 25%;
		height: 25%;
		
	}
	
	.card {
		width: 25%;
		height: 25%;
		
	}
	
	.card__description1 {
		line-height: 3.5rem;
		font-size: 2rem;
		top: 15%;
	}
	
	.container{
		width: 100%;
		left: 1%;
		top: 60%;
	}
	.title_s{
		left: 20%;
		top:55%;
		font-size: 2.5rem;
	}
	}