*{ margin:0; padding:0;}
html,
body {
    font-size: 62.5% !important;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: snow !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a,
ul,
ol,
li {
    text-decoration: none;
    list-style: none;
    color: unset;
    border: none;
}	
ul{ 
	list-style: none;
}
img{ 
	display: block;
}
.Backend-introduction{
	position: relative;
	width: 90%;
	height: 38%;
	margin: 2rem auto;
	border:0.1rem #cccccc solid;
}
.Backend-title{
	text-align: center;
	font-size: 8rem;
	font-weight: 900;
}
.Backend-id-pic{
	width: 45%;
	height: 65rem;
	position: absolute;
	left: 5%;
}
.Backend-id p{
	position: absolute;
	font-size: 5rem;
	font-weight: 500;
	width: 45%;
	left: 53%;
	top: 2%;
}
.Backend-peoples{
	position: relative;
	width: 90%;
	height: 18%;
	margin: 2rem auto;
	border:0.1rem #cccccc solid;
}
.Backend-peoples h2{
	font-size: 5rem;
}
.Backend-peoples p{
	font-size: 4rem;
}

.clear:after{ 
	content:""; 
	display: block; 
	clear:both;
}
.Backend-languages h1{
	font-size: 5rem;
}
.Backend-languages p{
	font-size: 3rem;
}
.Backend-languages{ 
	width:90%;
	height: 200%;
	margin: 2rem auto;  
	border:0.1rem #cccccc solid;
}
.list{ 
	width:100%;
	height: 24%;
}
.list li{ 
	width:80%; 
	height:78%; 
	float:left; 
	margin:1rem; 
	position: relative; 
	left: 10%;
	overflow: hidden;
}
.list-text{ 
	width:100%; 
	height:0px; 
	background:rgba(0,0,0,.5); 
	position: absolute; 
	left: 0; 
	top:7rem; 
	z-index: 2; 
	overflow: hidden; 
	transform:rotate(50deg); 
	transition:.5s;
}
.list-text h2{ 
	height: 8rem; 
	border-bottom:0.1rem #8a7881 solid; 
	font-size: 6rem; 
	color:white; 
	line-height: 6rem; 
	text-align: center;
}
.list-text p{ 
	border-top:2px #b1a5ab solid; 
	line-height: 5rem; 
	font-size: 4rem; 
	color:white; 
	padding-top: 1rem;
}
.list-maskUp{ 
	width:150%; 
	height:150%; 
	position: absolute; 
	left: 0; 
	top: -150%; 
	z-index: 1; 
	background:rgba(199,4,109,.5); 
	transform:rotate(45deg) translateX(-58%); 
	transition:.5s;
}
.list-maskDown{ 
	width:150%; 
	height:150%; 
	position: absolute; 
	left: 0; 
	top: 150%; 
	z-index: 1; 
	background:rgba(199,4,109,.5); 
	transform:rotate(45deg) translateX(16%); 
	transition:.5s;
}
.list li:hover .list-text{ 
	height:55rem; 
	transform:rotate(0deg);
}
.list li:hover .list-maskUp,.list li:hover .list-maskDown{ 
	top:0;
}
.list-pic{
	width: 100%;
	height: 100%;
}
