*{ 
	margin:0; padding:0;
}

html,
body {
    font-size: 62.5% !important;
    margin: 0;
    border: 0;
    width: 100%;
    height: 120%;
    background:#C3D6F2;
}

.Backend-background{
	width: 100%;
	height: 90%;
	position: relative;
}

.Backend-title{
	text-align: center;
	font-size: 4rem;
	padding: 2rem;
}



.card a {
	color: inherit;
	text-decoration: none;
}

.card:hover {
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
}

.card__thumb {
	height: 24.5rem;	
	overflow: hidden;
	background-color: #000;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
}

.card__thumb img {
	display: block;
	opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	position: absolute;
	width: 100%;
	top: 0;
}

.card:hover .card__thumb {
	height: 13rem;
}

.card:hover .card__thumb img {
	opacity: 0.6;
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card__body {
	position: relative;
	height: 70%;
	padding: 2rem;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	background:#FFFFCC;
	top: -5%;
}

.card:hover .card__body {
	height: 90%;
}

.card__category {
	position: absolute;
	top: -3rem;
	left: 0;
	height: 3rem;
	padding:0.5rem 1.5rem;
	background-color:#6676ff;
	color: #fff;
	text-transform: uppercase;	
	font-size: 2rem;
	line-height: 2.5rem;
	border-top-right-radius: 1rem;
}

.card__title {
	margin: 0;
	padding: 0 0 1rem 0;
	font-size: 4.5rem;
	font-weight: bold;
	color: #666C74;
}

.card__description {
	position: absolute;
	left: 2rem;
	right: 2rem;
	top: 25%;
	margin: 0;
	padding: 0;
	color: #666C74;
	line-height: 2.8rem;
	font-size: 1.8rem;
	opacity: 0;
	-webkit-transform: translateY(4.5rem);
    transform: translateY(4.5rem);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.card:hover .card__description {
	opacity: 1;
	-webkit-transform: translateY(0);
    transform: translateY(0);
	-webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.card1 {
	position: absolute;
	top: 42%;
	left: 70%;
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
	width: 30%;
	height: 45%;
	height: 45%;
	background-color: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	overflow: hidden;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	z-index: 1;
	border-radius: 1rem;
}

.card {
	position: absolute;
	top: 42%;
	left: 31%;
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
	width: 30%;
	height: 45%;
	height: 45%;
	background-color: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	overflow: hidden;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	z-index: 1;
	border-radius: 1rem;
}

.card1 a {
	color: inherit;
	text-decoration: none;
}

.card1:hover {
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
}

.card__thumb1 {
	height: 24.5rem;
	overflow: hidden;
	background-color: #000;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
}

.card__thumb1 img {
	display: block;
	opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	position: absolute;
	width: 100%;
	height: 60%;
}
.card1:hover .card__thumb1 {
	height: 13rem;
}

.card1:hover .card__thumb1 img {
	opacity: 0.6;
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card1:hover .card__body {
	height: 90%;
}

.card__category {
	position: absolute;
	top: -3rem;
	left: 0;
	height: 3rem;
	padding:0.5rem 1.5rem;
	background-color:#6676ff;
	color: #fff;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 2.5rem;
	border-top-right-radius: 1rem;
}

.card__title {
	margin: 0;
	padding: 0 0 1rem 0;
	font-size: 2.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.card__description1 {
	position: absolute;
	left: 2rem;
	right: 2rem;
	top: 26%;
	color: #666C74;
	line-height: 2.8rem;
	font-size: 1.8rem;
	opacity: 0;
	-webkit-transform: translateY(4.5rem);
    transform: translateY(4.5rem);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.card1:hover .card__description1 {
	opacity: 1;
	-webkit-transform: translateY(0);
    transform: translateY(0);
	-webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.demo{
	position: absolute;
	top:75%;
	width: 70%;
	left: 16%;
	height: 40%;
	padding: 0;
	margin: 0;
}

a:hover,a:focus{
	outline: none;
	text-decoration: none;
}

.tab{
	width: 100%;
	position: absolute;
	top: 0;
	box-shadow: 0 0.1rem 0.2rem 0 #697886;
	border-top-right-radius: 1rem;
		  border-top-left-radius: 1rem;
}

.tab .nav-tabs{
	box-shadow: -0.1rem 0 0.2rem #6676ff;
	border-bottom: 0 none;
}

.tab .nav-tabs li{
	width: 16.6666666666666667%;
}

.tab .nav-tabs li a{
	display: block;
	font-size: 1.8rem;
	text-align: center;
	border: none;
	padding: 1.8rem;
	background:#FFFFCC;
	border-radius: 0;
	margin: 0;
	position: relative;
	transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a:hover{
	background: #6676ff;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
	border: none;
	background: #6676ff;
	color: #fff;
	transition: all 0.20s ease 0s;
}

.tab .nav-tabs li.active a:after{
	content: "";
	position: absolute;
	left: 40%;
	top: -3.5rem;
	border: 2rem solid transparent;
	border-bottom-color: #6676ff;
}

.tab .tab-content{
	font-size: 1.8rem;
	background:#FFFFCC;
	line-height: 2.5rem;
	padding: 2rem;
	color: #666C74;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}
.tab .tab-content h4{
	font-size: 2.3rem;
}
@media screen and (min-width:280px) and (max-width:330px){
	html,body{
		height: 195%;
	}
	.Backend-background{
		height: 50%;
	}
	.tab .nav-tabs li{
		width: 100%;
		margin-bottom: 2px;
	}
	.tab .nav-tabs li.active a:after{
		border: none;
	}
	.demo{
		width: 80%;
		left: 11%;
		top: 116%;
	}
	.card{
		left: 51%;
		width: 80%;
		top: 38%;
		height: 40%;
	}
	.card1{
		width: 80%;
		left: 51%;
		top: 88%;
		height: 40%;
	}
	.card__description{
		top: 15%;
		line-height: 2.5rem;
	}
	.card__description1{
		top: 16%;
		line-height: 2.2rem;
	}
}
@media screen and (min-width:330px) and (max-width:480px){
			html,body{
				height: 190%;
			}
			.Backend-background{
				height: 50%;
			}
		    .tab .nav-tabs li{
		        width: 100%;
		        margin-bottom: 2px;
		    }
		    .tab .nav-tabs li.active a:after{
		        border: none;
		    }
		    .demo{
		    	width: 80%;
		    	left: 11%;
		    	top: 116%;
		    }
		    .card{
		    	left: 51%;
				width: 80%;
				top: 38%;
		    }
		    .card1{
		    	width: 80%;
		    	left: 51%;
		    	top: 88%;
		    }
		    .card__description{
				top: 15%;
				line-height: 3rem;
			}
			.card__description1{
				top: 14%;
				line-height: 3rem;
			}
}
@media screen and (min-width:480px) and (max-width:550px){
	html,body{
		height: 170%;
	}
	.Backend-title{
		font-size: 5rem;
	}
	.Backend-background{
		height: 50%;
	}
	.tab .nav-tabs li{
		width: 100%;
		margin-bottom: 0.2rem;
	}
	.tab .nav-tabs li.active a:after{
		border: none;
	}
	.tab .nav-tabs li a{
	font-size: 2.5rem;
	}
	.demo{
		width: 65%;
		left: 18%;
		top: 113%;
	}
	.card{
		left: 50%;
		width: 65%;
		height: 45%;
		top: 35%;
	}
	.card__description {
		font-size: 2rem;
		line-height: 3rem;
		top: 33%;
	}
	.card__description1 {
		font-size: 2rem;
		line-height: 3rem;
		top: 13%;
	}
	.card__title{
		font-size: 2.5rem;
	}
	.card__category {
		position: absolute;
		top: -3.5rem;
		left: 0;
		height: 3.5rem;
		padding:0.5rem 1.5rem;
		background-color:#6676ff;
		color: #fff;
		text-transform: uppercase;
		font-size: 2.5rem;
		line-height: 3rem;
		border-top-right-radius: 1rem;
	}
	.card1{
		width: 65%;
		left: 50%;
		top: 85%;
	}
	.card__description{
		top: 14%;
	}
	.tab .tab-content{
	font-size: 2rem;
	line-height: 3rem;
	}
	.tab .tab-content h4{
		font-size: 2.5rem;
	}
}

@media screen and (min-width:550px) and (max-width:768px){
			html,body{
				height: 160%;
			}
			.Backend-title{
				font-size: 5rem;
			}
			.Backend-background{
				height: 50%;
			}
		    .tab .nav-tabs li{
		        width: 100%;
		        margin-bottom: 0.2rem;
		    }
		    .tab .nav-tabs li.active a:after{
		        border: none;
		    }
		    .demo h4{
		    	font-size: 3rem;
		    }
		    .tab .nav-tabs li a{
		    font-size: 3.5rem;
			}
		    .demo{
		    	width: 65%;
		    	left: 18%;
		    	top: 113%;
		    }
		    .card{
		    	left: 50%;
		    	width: 65%;
				height: 45%;
				top: 35%;
		    }
			.card__description {
				font-size: 3rem;
				line-height: 4.5rem;
				top: 35%;
			}
			.card__description1 {
				font-size: 3rem;
				line-height: 4.5rem;
				top: 15%;
			}
			.card__title{
				font-size: 4rem;
			}
			.card__category {
				position: absolute;
				top: -4.5rem;
				left: 0;
				height: 4.5rem;
				padding:0.5rem 1.5rem;
				background-color:#6676ff;
				color: #fff;
				text-transform: uppercase;
				font-size: 3rem;
				line-height: 3.5rem;
				border-top-right-radius: 1rem;
			}
		    .card1{
		    	width: 65%;
		    	left: 50%;
		    	top: 85%;
		    }
		    .card__description{
		    	top: 14%;
		    }
		    .tab .tab-content{
		    font-size: 2.5rem;
		    line-height: 4.5rem;
			}
			.tab .tab-content h4{
				font-size: 3.5rem;
			}
}
@media screen and (min-width:769px) and (max-width:1200px){
	
html,
body {
    height: 100%;
}

.Backend-background{
	height: 80%;
}

.Backend-title{
	font-size: 5rem;
}

.card1 {
	width: 35%;
	left: 72%;
	height: 40%;
}

.card {
	width: 35%;
	left: 30%;
	height: 40%;
}
.card__description {
	top: 18%;
}
.card__description1 {
	top: 18%;
}

.demo{
	width: 80%;
	left: 11%;
}
}
@media screen and (min-width:1200px) and (max-width:1499px){
	html,body{
		height: 120%;
	}
	.card__category {
		top: -2.5rem;
		height: 2.5rem;	
		font-size: 1.5rem;
		line-height: 2rem;
	}
	
	.card__title {
		font-size: 2rem;
	}
	
	.card__description {
		line-height: 2.7rem;
		font-size: 1.7rem;
		top: 15%;
	}
	
	
	.card1 {
		width: 33%;
		height: 52%;
	}
	
	.card {
		width: 33%;
		height: 52%;
	}
	
	.card__description1 {
		line-height: 2.7rem;
		font-size: 1.7rem;
		top: 15%;
	}
	
	.tab .nav-tabs li a{
		font-size: 2rem;
	}
	
	.tab .nav-tabs li.active a:after{
		top: -3.5rem;
	}
	
	.tab .tab-content{
		font-size: 1.7rem;
		line-height: 2.7rem;
	}
	.tab .tab-content h4{
		font-size: 2rem;
	}
	}
	
@media screen and (min-width:1500px) and (max-width:2001px){
	
.Backend-title{
	font-size: 5rem;
}

.card__thumb img {
	top: -25%;
}

.card__category {
	top: -2.8rem;
	height: 2.8rem;	
	font-size: 1.8rem;
	line-height: 2.3rem;
}

.card__title {
	font-size: 2.3rem;
}

.card__description {
	line-height: 2.6rem;
	font-size: 1.8rem;
	top: 15%;
}


.card1 {
	width: 25%;
	height: 42%;
}

.card {
	width: 25%;
	height: 42%;
}

.card__description1 {
	line-height: 2.6rem;
	font-size: 1.8rem;
	top: 15%;
}

.tab .nav-tabs li a{
	font-size: 1.8rem;
}

.tab .nav-tabs li.active a:after{
	top: -3.1rem;
}

.tab .tab-content{
	font-size: 1.8rem;
	line-height: 2.8rem;
}
.tab .tab-content h4{
	font-size: 2.3rem;
}
}
