*{ margin:0; padding:0;}
html,
body {
    font-size: 62.5% !important;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: snow !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a,
ul,
ol,
li {
    text-decoration: none;
    list-style: none;
    color: unset;
    border: none;
}	
ul{ 
	list-style: none;
}
img{ 
	display: block;
}
.FEintroduction{
	position: relative;
	width: 90%;
	height: 38%;
	margin: 2rem auto;
	border:0.1rem #cccccc solid;
}
.title{
	text-align: center;
	font-size: 8rem;
	font-weight: 900;
}
.pic{
	width: 100%;
	height: 65rem;
	position: absolute;
	top: 3%;
}
.id p{
	position: absolute;
	font-size: 5rem;
	font-weight: 500;
	width: 45%;
	left: 53%;
	top: 2%;
}
.persons{
	position: relative;
	width: 90%;
	height: 18%;
	margin: 2rem auto;
	border:0.1rem #cccccc solid;
}
.persons h2{
	font-size: 5rem;
}
.persons p{
	font-size: 4rem;
}

.clear:after{ 
	content:""; 
	display: block; 
	clear:both;
}

.box2 {
    width: 90%;
	height: 65rem;
    margin:20px auto;
    background:#f5f5f5;
}
.box2 li {
    width: 70%;
	height: 55rem;;
    background:#fff;
    float:left;
    margin:10px 15px;
    list-style:none;
    transition:all .2s;
    position:relative;
}
.box2 li:hover.box2 li:focus {
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform:translate3d(0,-2px,0);
}

#aa{
        height: auto;
        font-size: 5rem;
    }
#w{
    display: none;
    }
#w3{
    font-size: 5rem;
    margin-top: 5%;
    }
    .box3 {
    width: 90%;
	height: 65rem;
    margin:20px auto;
    background:#f5f5f5;
}
.box3 li {
    width: 70%;
	height: 55rem;;
    background:#fff;
    float:right;
    margin:10px 15px;
    list-style:none;
    position:relative;
}
 .box4 {
    width: 90%;
	height: 65rem;
    margin:20px auto;
    background:#f5f5f5;
}
.box4 li {
    width: 70%;
	height: 55rem;;
    background:#fff;
    float:left;
    margin:10px 15px;
    list-style:none;
    position:relative;
}
#w4{
    font-size: 5rem;
    margin-top: 5%;
    }