/* .nav{
    min-height: 5rem;
    width: 100%;
    background-color: #333333;
} */
h1{
    text-align: center;
    margin-bottom: 2rem;
}
.image{
    min-height: 48rem;
    position: relative;
}
.image img{
    width: 30rem;
    height: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page{
    min-height: 40rem;
}
#block_1{
    margin-bottom: 6rem;
}
.card{
    min-height: 16rem;
}
.page h4{
    font-size: 2.2rem;
}
.page p{
    font-size: 1.9rem;
    line-height: 1.7;
}
#block_2{
    /* margin-bottom: 5rem; */
    width: 100%;
    padding: 6rem 0 4rem;
    background-color: #333333;
    position: relative;
    color: white;
}
#block_2 h4{
    font-size: 2.2rem;
    position: absolute;
    top: 1rem;
    left: 5%;
}
.img{
    width: 100%;
    min-height: 10rem;
    position: relative;

}
.img img{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#all_card p{
    text-align: center;
    font-size: 1.9rem;
}
@media screen and (min-width: 768px) { 
    .image img{
        width: 22.5rem;
        height: 33.75rem;
        top: 46%;    
    }
    h1{
        margin-bottom: 4rem;
    }
    #block_1{
        margin-bottom: 4rem;
    }
    .image{
        min-height: 40rem;
    }
    .page{
        min-height: 40rem;
    }
 }

@media screen and (min-width: 992px) { 
    .image img{
        left: 58%;
    }
 }

@media screen and (min-width: 1200px) { 
    .image img{
        left: 50%;
    }
    #block_2 h4{
        font-size: 2.2rem;
        position: absolute;
        top: 1rem;
        left: 15%;
    }
 }