/* *{
    font-size: 62.5%;
} */
.section1 {
    background-image: linear-gradient(rgba(204, 255, 255, 0.521)
    , rgb(204, 255, 255));
    /* background-image: linear-gradient(rgba(153, 204, 255, 0.521)
    , #99CCFF); */
}
#card_1, #card_2{
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    height: 22rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 3.5rem 0 0 0;
}
.front,
.back{
    background: #add6ff;
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;  /*隐藏旋转 div 元素的背面*/
    text-align: center;
    min-height: 23rem;
    height: auto;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.front .inner p{
    font-size: 2rem;
    color: #000;
}
.back .inner p{
    font-size: 1.7rem;
}
.back{
    background:linear-gradient(45deg, #60687a 0%,#6699CC 100%);
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%; */
}
/* .front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    backface-visibility: hidden;
    border-radius: 10px;
} */
#card_1:hover .front,
#card_1:hover .back,
#card_2:hover .front,
#card_2:hover .back{
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    /* 从开始到结束的不同速度过渡效果 */
}
.inner{
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    /* scale(0.94)缩小文字 */
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
}
.back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}
#card_1:hover .back,
#card_2:hover .back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}
 
#card_1:hover .front,
#card_2:hover .front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

/* @media screen and (max-width: 64rem){
    #card_1, #card_2{
      width: calc(33.333333% - 2rem);
    }
  }
   
  @media screen and (max-width: 48rem){
    #card_1, #card_2{
      width: calc(50% - 2rem);
    }
  }
   
  @media screen and (max-width: 32rem){
    #card_1, #card_2{
      width: 100%;
      margin: 3.5rem 0 0 0;
    }
  }  */


.section2 {
    background-image: linear-gradient(rgba(153, 204, 255, 0.521)
    , #99CCFF);
}
#title_1, #title_2{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2.5rem;
}
[class^="col"]{
    /* border: 1px solid black; */
}
[class^="theme"]{
    background: #FFFFCC;
    font-size: 2rem;
    display: block;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 4px;
}
#card_3, #card_4, #card_5{
    margin: 0.5rem 0;
}
.page_3, .page_4, .page_5{
    background: #FFCC99;
    padding: 2rem 1rem;
    overflow: hidden;
    border-radius: 4px;
}
.page_3 p, .page_4 p, .page_5 p{
    font-size: 1.6rem;
}
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 450px){
        #card_1, #card_2{
            height: 26rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 3.5rem 0 0 0;
        }
        .front,
        .back{
            min-height: 26rem; 
        }
        .front .inner p{
            font-size: 2.5rem;
        }
        .back .inner p{
            font-size: 1.9rem;
        }
        #title_1, #title_2{
            top: 2%;
            left: 50%;
            font-size: 2.5rem;
        }
        [class^="theme"]{           
            font-size: 2.1rem;
            padding: 1.5rem;
        }
        #card_3, #card_4, #card_5{
            margin: 0.5rem 0;
        }
        .page_3, .page_4, .page_5{
            padding: 2.5rem 1rem;
        }
        .page_3 p, .page_4 p, .page_5 p{
            font-size: 1.9rem;
        }
}
@media only screen
    and (min-device-height : 600px)
    and (max-device-height : 610px){
        #card_1, #card_2{
            height: 20rem;
        }
        .front,
        .back{
            min-height: 21rem; 
        }
        .front .inner p{
            font-size: 2.2rem;
        }
        .back .inner p{
            font-size: 1.7rem;
        }
        [class^="theme"]{           
            font-size: 2rem;
            padding: 1.5rem;
        }
        .page_3, .page_4, .page_5{
            padding: 2rem 1rem;
        }
        .page_3 p, .page_4 p, .page_5 p{
            font-size: 1.6rem;
        }
    }
@media only screen
    and (min-device-width : 451px)
    and (max-device-width : 767px){
        #card_1, #card_2{
            height: 26rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 3.5rem 0 0 0;
        }
        .front,
        .back{
            min-height: 26rem; 
        }
        .front .inner p{
            font-size: 2.5rem;
        }
        .back .inner p{
            font-size: 1.9rem;
        }
        #title_1, #title_2{
            top: 2%;
            left: 50%;
            font-size: 2.5rem;
        }
        [class^="theme"]{           
            font-size: 2.1rem;
            padding: 1.5rem;
        }
        #card_3, #card_4, #card_5{
            margin: 0.5rem 0;
        }
        .page_3, .page_4, .page_5{
            padding: 2.5rem 1rem;
        }
        .page_3 p, .page_4 p, .page_5 p{
            font-size: 1.9rem;
        }
}
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 991px){
        #card_1, #card_2{
            height: 35rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 3.5rem 0 0 0;
        }
        .front,
        .back{
            min-height: 35rem; 
        }
        .front .inner p{
            font-size: 2.5rem;
        }
        .back .inner p{
            font-size: 1.9rem;
        }
        #title_1, #title_2{
            top: 2%;
            left: 50%;
            font-size: 2.5rem;
        }
        [class^="theme"]{           
            font-size: 2.1rem;
            padding: 1.5rem;
        }
        #card_3, #card_4, #card_5{
            margin: 0.5rem 0;
        }
        .page_3, .page_4, .page_5{
            padding: 2.5rem 1rem;
        }
        .page_3 p, .page_4 p, .page_5 p{
            font-size: 1.9rem;
        }
}
@media only screen
    and (min-device-width : 992px)
    and (max-device-width : 1023px){
        #card_1, #card_2{
            height: 35rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 3.5rem 0 0 0;
        }
        .front,
        .back{
            min-height: 35rem; 
            width: 100%;
        }
        .front .inner p{
            font-size: 2.5rem;
        }
        .back .inner p{
            font-size: 1.9rem;
        }
        #title_1, #title_2{
            top: 2%;
            left: 50%;
            font-size: 2.5rem;
        }
        [class^="theme"]{           
            font-size: 2.1rem;
            padding: 1.5rem;
        }
        #card_3, #card_4, #card_5{
            margin: 0.5rem 0;
        }
        .page_3, .page_4, .page_5{
            padding: 2.5rem 1rem;
        }
        .page_3 p, .page_4 p, .page_5 p{
            font-size: 1.9rem;
        }
}
@media only screen
    and (min-device-width : 1024px)
    and (max-device-width : 1199px){
        #card_1, #card_2{
            height: 40rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 3.5rem 0 0 0;
        }
        .front,
        .back{
            min-height: 40rem; 
            width: 100%;
        }
        .front .inner p{
            font-size: 2.5rem;
        }
        .back .inner p{
            font-size: 1.9rem;
        }
        #title_1, #title_2{
            top: 2%;
            left: 50%;
            font-size: 2.5rem;
        }
        [class^="theme"]{           
            font-size: 2.1rem;
            padding: 1.5rem;
        }
        #card_3, #card_4, #card_5{
            margin: 0.5rem 0;
        }
        .page_3, .page_4, .page_5{
            padding: 2.5rem 1rem;
        }
        .page_3 p, .page_4 p, .page_5 p{
            font-size: 1.9rem;
        }
}
@media screen
    and (min-device-width : 1200px)
   {
        #card_1, #card_2{
            height: 40rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 3.5rem 0 0 0;
        }
        .front,
        .back{
            min-height: 40rem; 
            width: 100%;
        }
        .front .inner p{
            font-size: 2.5rem;
        }
        .back .inner p{
            font-size: 1.9rem;
        }
        #title_1, #title_2{
            top: 2%;
            left: 50%;
            font-size: 2.5rem;
        }
        [class^="theme"]{           
            font-size: 2.1rem;
            padding: 1.5rem;
        }
        #card_3, #card_4, #card_5{
            margin: 0.5rem 0;
        }
        .page_3, .page_4, .page_5{
            padding: 2.5rem 1rem;
        }
        .page_3 p, .page_4 p, .page_5 p{
            font-size: 1.9rem;
        }
}