.table {
    width: 100vw;
    z-index: 9999;
    height: 80px;
    position: fixed;
    top: 0;
    margin: 0;
    /* left: 0; */
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 gray;
    justify-content: center;
}

a {
    text-decoration: none;
}

.actionButton {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 300px;
    font-size: 16px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.actionButton:hover {
    background-image: url(../ResourceFile/send.svg);
    background-size: contain;
    color: transparent;
}

.actionButton:focus {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 300px;
    margin-right: 0;
}

#backButton {
    max-width: 160px;
    width: max-content;
    height: 100%;
    /* position: absolute;
    left: 0; */
    min-width: max-content;
    display: flex;
}

#backButton img {
    width: 100%;
    height: 22px;
}

#backButton .actionButton {
    width: 160px;
}

#backButton i {
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    color: #000000;
}

.ContentMiddle .actionButton {
    height: 100%;
}

#fix {
    width:160px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#headTable {
    width: 80%;
    min-width: 320px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.table .actionButton {
    min-width: 36px;
    max-width: max-content;
    height: 36px;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.table .actionButton img {
    width: 34px;
    height: auto;
}

.table .actionButton:nth-of-type(-n+1) {
    border: transparent;
    background: none;
}

.table .actionButton:nth-of-type(1):hover {
    background: none;
}

.login .actionButton * {
    margin: 0;
}

.actionButton p {
    margin: 0;
}

.actionButton a {
    text-decoration: none;
    color: #000000;
}

/* #headTable .actionButton:nth-of-type(-n+1){
    width:120px;
    max-width:unset;
} */

#headTable .actionButton:hover{
    box-shadow:unset;
    -webkit-box-shadow:unset;
}

.API {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 100;
    display: flex;
    opacity: 0.9;
    /* background-image: linear-gradient(180deg, #fff, #000); */
    background:transparent;
    display: none;
    justify-content: center;
}

.API div {
    position: absolute;
    top: -180px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;
    box-shadow:0 1px 2px 0px #272727;
    text-align: center;
    transition: top 0.2s linear;
}

#download {
    border-radius: 5%;
    border: 1px solid black;
}

#download:hover {
    background-color: rgba(0, 0, 0, 0.686);
}

#download:hover a {
    color: white;
}

.choose {
    max-width:120px;
    width:100%;
    display: flex;
}

.choose ul {
    padding: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:0;
}

.choose li {
    padding: 0 8px;
    flex-shrink: 0;
}

.choose .actionButton:hover {
    background-image: none;
}

.choose .actionButton:hover a {
    color: #f61947;
}

#waiting div {
    background-image: url(../ResourceFile/loader1.gif);
    background-size: 300px;
}

#failed div {
    background-image: url(../ResourceFile/close.svg);
}

#success div {
    background-image: url(../ResourceFile/complete.png);
}

#error div {
    background-image: url(../ResourceFile/Wrong.png);
}

.ContentMiddle {
    justify-content: center;
    width: 160px;
    height: 100%;
    display: flex;
}

@media (max-width:790px) {
    .choose {
        margin: 0%;
    }
}

#exceptIndex {
    height: 40px;
}

#exceptIndex #headTable{
    min-width:unset;
    max-width:unset;
    width:100%;
}