*{
	margin:0;
	padding:0;
}
body{
	/*background:#CCCCFF;*/
	background: #FFFFCC;
}
.flip-container{
	width:25%;
	height:20%;
	margin-top:-3%;
	margin-left:-5%;
	cursor: pointer;
	animation: myReverse 3s linear 2.5s;
}
@keyframes myReverse{
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}
#InformationBlock{
	width:100%;
	height:100%;
}
.MyInformation{
	width:100%;
	height:100%;
	display: table;
	opacity: 0.7;
	filter:alpha(opacity=70);
	background-color: black;
	text-align:center;
}
.MyInformation p{
	display: table-cell;
	vertical-align: middle;
	font-size:2.7rem;
	color:white;
}

#InformationBlock:hover{
		transform: rotateY(180deg);
	}

#InformationBlock{
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top:0;
	left:0;
}
.front {
	z-index: 2;
}
.back {
	/*background-color:rgb(255, 248, 156);*/
	background-color: #ffe597;
	font-size:3rem;
	opacity: 1;
	filter:alpha(opacity=100);
	transform: rotateY(180deg);
}
.back p{
	color:black;
}


#Information{
	position: absolute;
	width:100%;
	height:100%;
/*	background-image: url("../ResourceFile/WhiteTree.jpg");*/
}
#InformationContent{
	position: absolute;
	width:70%;
	height:80%;
	top:46%;
	left:50%;
	transform:translate(-50%,-45%);
	margin: 0 auto;
	background:rgba(255,255,255,0.7);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	border-radius:0.5rem;
}
#InformationContent:hover{
	box-shadow:0 0 3rem rgba(0, 0, 0, 0.1),0 0 2rem  rgba(0, 0, 0, 0.1),0 0 1rem rgba(0, 0, 0, 0.1),0 0 4rem rgba(255, 243, 69, 0.1);
	transition:box-shadow 0.5s;
}
#InformationList{
	width:80%;
	height:13%;
	background-color:rgba(255,255,255,0);
	margin-left:10%;
	padding:10px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
}
#InformationScroll{
	width:100%;
	height:45%;
	margin:0 auto;
	background-color:	rgb(224,224,224) ;
	border-radius:20px;
	border:1px solid transparent;
}
#scrollBox{
	width:33%;
	height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
	/*background-image:-webkit-gradient(linear, left bottom, left top,color-stop(0, rgb(255, 247, 175)), color-stop(1, #ffc003));*/
	background-image:linear-gradient(to bottom, rgb(255, 247, 175), #ffc003);
    box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(255, 197, 23,1);
    position: relative;
    overflow: hidden;
	animation: animate-positive 1.5s linear 1s 1;
}
#ScrollColor{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
		background: linear-gradient(to right, rgba(255, 255, 255, .2) 25%,  transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%,transparent 100%);
		z-index: 2;
		background-size: 100px;
		animation: move 1s linear infinite;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		overflow: hidden;
 }
 @keyframes move {
	 0% {
		background-position: 0 0;
	 }
	 100% {
		background-position: 50px 0px;
	 }
 }
@keyframes animate-positive{
	0% { width: 0px; }
}

#Ul{
	position: absolute;
	width:80%;
	height:6%;
	margin-top:10px;
	list-style-type: none;
	overflow: hidden;
}
#Ul li{
	display: inline-block;
	position: absolute;
}
#Ul li:nth-child(1){
	left:2%;
}
#Ul li:nth-child(2){
	left:30%;
}
#Ul li:nth-child(3){
	left:60%;
}
#Ul li:nth-child(4){
	left:95%;
}
/*
#InformationList:hover #InformationScroll{
	animation:myTop 0.7s linear;
}
@keyframes myTop{
	0%{
		margin-top:50px;
		opacity: 0.1;
	}
	50%{
		opacity: 0.6;
	}
	100%{
		margin-top:0;
	}
}*/
#InformationUl{
	width:88%;
	height:60%;
	margin:0 auto;
	margin-top:15px;
	z-index:2;
	list-style-type:none;
	animation:magnify 0.8s 0.8s;
	overflow: hidden;
}

@keyframes magnify{
			10%{
				filter:alpha(Opacity=0);
				opacity:0;
			}
			25%{
				filter:alpha(Opacity=10);
				opacity:0.1;
			}
			50%{
				filter:alpha(Opacity=20);
				opacity:0.2;
			}
			75%{
				filter:alpha(Opacity=30);
				opacity:0.3;
			}
			100%{
				filter:alpha(Opacity=70);
				opacity:0.7;
			}
		}

.InformationBox{
	width:85%;
	height:100%;
	margin:0 auto;
}
.InformationLi{
	position: relative;
	width:100%;
	height:19%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid #505050;
}
.InformationLi::before{
	position: absolute;
	content: "";
    top: 0;
    left: 0;
    border-bottom: 2px solid white;
    box-shadow:0px 20px 10px -16px #ccc,0px 5px 6px -6px gray;
    width: 0;
    height: 100%;
}
.InformationLi:hover{
	border-bottom-color:transparent;
}
.InformationLi:hover::before{
    width: 100%;
    transition: 0.4s all linear;
    transition-delay: 0.1s;
}


.InformationName{
	width:35%;
	font-size: 1.3rem;
	padding-left: 10px;
}
.InformationValue{
	width:65%;
	height:1.5rem;
	color: #303030;
	font-size: 1.3rem;
	padding:0.3rem;
	padding-left:2rem;
	background-color: transparent;
	border-style:none;
}

.InformationLi:hover .InformationName,.InformationLi:hover .InformationValue{
	color: #404040 ;
}



@media screen and (min-width: 320px) and (max-width: 359px) {
	.flip-container{
		width:70%;
		height:15%;
		margin:0 auto;
		margin-top:-1rem;
		animation: myReverse 1.5s linear 2.5s;
	}
	#InformationContent{
		width:80%;
	}
	.MyInformation p{
		font-size:2rem;
	}
	#InformationList{
		margin:0 auto;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationUl{
		margin-top:5px;
	}	
	#Ul li{
		display: inline-block;
		position: absolute;
		font-size:0.5rem;
	}
	#Ul li:nth-child(1){
		left:2%;
	}
	#Ul li:nth-child(2){
		left:30%;
	}
	#Ul li:nth-child(3){
		left:55%;
	}
	#Ul li:nth-child(4){
		left:80%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:32%;
		font-size: 0.7rem;
		padding-left:5px;
	}
	.InformationValue{
		width:68%;
		font-size:0.8rem;
		color: #303030;
		padding-left: 0rem;
		padding-right:0px;
		background-color: transparent;
		border-style:none;
	}
}


@media screen and (min-width: 360px) and (max-width: 374px) {
	.flip-container{
		width:70%;
		height:15%;
		margin:0 auto;
		animation: myReverse 1.5s linear 2.5s;
		margin-top:-1rem;
	}
	.MyInformation p{
		font-size:2rem;
	}
	#InformationList{
		margin:0 auto;
		height:20%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
		background-color:	rgb(224,224,224) ;
		border-radius:20px;
		border:1px solid transparent;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:15%;
		margin-top:10px;
	}
	#Ul li{
		width:1rem;
		letter-spacing: 0px;
		display: inline-block;
		position: absolute;
		font-size:1rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	#InformationContent{
		width:80%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:35%;
		font-size: 1rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:65%;
		font-size:1rem;
		color: #303030;
		padding-left: 0rem;
		background-color: transparent;
		border-style:none;
	}
}


@media screen and (min-width: 375px) and (max-width: 479px){
	.flip-container{
		width:70%;
		height:15%;
		margin:0 auto;
		animation: myReverse 1.5s linear 2.5s;
		margin-top:-1rem;
	}
	.MyInformation p{
		font-size:2.3rem;
	}
	#InformationList{
		margin:0 auto;
		height:20%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:18%;
		margin-top:10px;
	}
	#Ul li{
		width:1rem;
		letter-spacing: 0px;
		font-size:1rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	#InformationContent{
		width:80%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:40%;
		font-size: 1rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:60%;
		font-size:1rem;
		color: #303030;
		padding-left: 0rem;
	}
}


@media screen and (min-width: 480px) and (max-width: 579px) {
	.flip-container{
		width:70%;
		height:15%;
		margin:0 auto;
		animation: myReverse 1.5s linear 2.5s;
		margin-top:-1rem;
	}
	.MyInformation p{
		font-size:2.3rem;
	}
	#InformationList{
		margin:0 auto;
		height:18%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:12%;
		margin-top:10px;
	}
	#Ul li{
		width:1.1rem;
		letter-spacing: 0px;
		font-size:1.2rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	#InformationContent{
		width:80%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:40%;
		font-size: 1.2rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:60%;
		font-size:1.24rem;
		color: #303030;
		padding-left: 0rem;
	}
}


@media screen and (min-width: 580px) and (max-width: 679px) {
	.flip-container{
		width:70%;
		height:15%;
		margin:0 auto;
		animation: myReverse 1.5s linear 2.5s;
		margin-top:-1rem;
	}
	.MyInformation p{
		font-size:2.5rem;
	}
	#InformationList{
		margin:0 auto;
		height:18%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:12%;
		margin-top:10px;
	}
	#Ul li{
		width:1.4rem;
		letter-spacing: 0px;
		font-size:1.2rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:40%;
		font-size: 1.4rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:60%;
		font-size:1.4rem;
		color: #303030;
		padding-left: 0rem;
	}
}


@media screen and (min-width: 680px) and (max-width: 799px) {
	.flip-container{
		width:70%;
		height:15%;
		margin:0 auto;
		animation: myReverse 1.5s linear 2.5s;
		margin-top:-1rem;
	}
	.MyInformation p{
		font-size:2.5rem;
	}
	#InformationList{
		margin:0 auto;
		height:18%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:15%;
		margin-top:10px;
	}
	#Ul li{
		width:1.3rem;
		letter-spacing: 0px;
		font-size:1.5rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:40%;
		font-size: 1.5rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:60%;
		font-size:1.5rem;
		color: #303030;
		padding-left: 0rem;
	}
}
@media screen and (min-width: 800px) and (max-width:1023px){
	.flip-container{
		width:70%;
		height:15%;
		margin:0 auto;
		animation: myReverse 1.5s linear 2.5s;
		margin-top:-1rem;
	}
	.MyInformation p{
		font-size:2.5rem;
	}
	#InformationList{
		margin:0 auto;
		height:13%;
		margin-top:3rem;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:10%;
		margin-top:10px;
	}
	#Ul li{
		width:5rem;
		letter-spacing: 0px;
		font-size:1.4rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:40%;
		font-size: 1.6rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:60%;
		font-size:1.6rem;
		color: #303030;
		padding-left: 0rem;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.flip-container{
		width:30%;
		height:20%;
		animation: myReverse 1.5s linear 2.5s;
	}
	.MyInformation p{
		font-size:2.5rem;
	}
	#InformationList{
		margin:0 auto;
		height:12%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:7%;
		margin-top:10px;
	}
	#Ul li{
		width:5rem;
		letter-spacing: 0px;
		font-size:1.2rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:56%;
		font-size: 1.4rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:44%;
		font-size:1.4rem;
		color: #303030;
		padding-left: 0rem;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1365px){
	.flip-container{
		width:30%;
		margin-bottom:10px;
		animation: myReverse 1.5s linear 2.5s;
	}
	.MyInformation p{
		font-size:2.8rem;
	}
	#InformationList{
		margin:0 auto;
		height:15%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:6%;
		margin-top:10px;
	}
	#Ul li{
		width:5rem;
		letter-spacing: 0px;
		font-size:1.4rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:56%;
		font-size: 1.8rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:44%;
		font-size:1.8rem;
		color: #303030;
		padding-left: 0rem;
	}
}
@media screen and (min-width: 1366px) and (max-width: 1439px) {
	.flip-container{
		width:30%;
		margin-bottom:20px;
		animation: myReverse 1.5s linear 2.5s;
	}
	.MyInformation p{
		font-size:2.8rem;
	}
	#InformationList{
		margin:0 auto;
		height:15%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:5%;
		margin-top:10px;
	}
	#Ul li{
		width:5rem;
		letter-spacing: 0px;
		font-size:1.3rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:56%;
		font-size: 1.5rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:44%;
		font-size:1.5rem;
		color: #303030;
		padding-left: 0rem;
	}
}
@media screen and (min-width: 1440px) {
	.flip-container{
		width:30%;
		margin-bottom:20px;
		animation: myReverse 1.5s linear 2.5s;
	}
	.MyInformation p{
		font-size:2.8rem;
	}
	#InformationList{
		margin:0 auto;
		height:15%;
		margin-top:10px;
		padding-bottom:0px;
	}
	#InformationScroll{
		width:100%;
		height:20%;
		margin:0 auto;
	}
	#InformationUl{
		margin-top:0px;
	}	
	#Ul{
		width:80%;
		height:6%;
		margin-top:10px;
	}
	#Ul li{
		width:5rem;
		letter-spacing: 0px;
		font-size:1.6rem;
	}
	#Ul li:nth-child(4){
		left:90%;
	}
	.InformationBox{
		width:95%;
		height:100%;
		margin:0 auto;
	}
	.InformationName{
		width:56%;
		font-size: 2rem;
		padding-left: 0px;
	}
	.InformationValue{
		width:44%;
		font-size:2rem;
		color: #303030;
		padding-left: 0rem;
	}
}
