#Information {
    width: 100%;
    height: 100%;
    min-height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(93, 93, 93, 0.8);
}

#InformationContent {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 65%;
    height: 80%;
    /* width:65vw;
    height:32.5vw; */
    box-shadow: 0px 2px 15px black;
}

#InformationLeft {
    display: inline-block;
    width: 49%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../ResourceFile/thoughtworks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 100%;
    -moz-background-size: 90% 100%;
}

#InformationRight {
    display: inline-block;
    width: 51%;
    height: 100%;
    background-color: #5d5d5d;
}

#InformationName {
    width: 50%;
    height: 15%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 3%;
}

#InformationName::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #c0c0c0;
    margin-top: 0px;
    margin-left: -10px;
    border-radius: 150px;
}

#InformationName::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: #c0c0c0;
    margin-top: 52px;
    margin-left: -45px;
    border-radius: 150px;
}

#InformationScroll {
    width: 80%;
    height: 4%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid transparent;
    margin-bottom: 1.5%;
}

#scrollBox {
    width: 0;
    height: 100%;
    /* background-image:linear-gradient(to bottom, rgba(238, 172, 172),  #f61947); */
    background-color: #f61947;
    position: relative;
    overflow: hidden;
    animation: animate-positive 1.5s linear 1s 1;
}

#ScrollColor {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background: linear-gradient(to right, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent 100%);
    z-index: 2;
    background-size: 100px;
    animation: move 1s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 0px;
    }
}

@keyframes animate-positive {
    0% {
        width: 0px;
    }
}

#Ul {
    width: 80%;
    height: 5%;
    margin: 0 auto;
    list-style-type: none;
}

#Ul li {
    display: inline-block;
    position: relative;
    color: #f0ecec;
    font-size: 15px;
}

#Ul li:nth-child(1) {
    left: 2%;
}

#Ul li:nth-child(2) {
    left: 20%;
}

#Ul li:nth-child(3) {
    left: 35%;
}

#Ul li:nth-child(4) {
    left: 55%;
}

#InformationUl {
    width: 80%;
    height: 58%;
    margin: 0 auto;
    margin-top: 10px;
    list-style-type: none;
}

.InformationBox {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.InformationLi {
    position: relative;
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InformationName {
    width: 28%;
    font-size: 15px;
    color: #ffffff;
}

.InformationValue {
    width: 72%;
    min-height: 20px;
    background-color: white;
    border-radius: 3px;
    color: #303030;
    font-size: 14px;
    padding: 0.3rem;
    padding-left: 20px;
    border-style: none;
}

@media screen and (max-width: 700px) {
    #InformationLeft {
        display: none;
    }
    #InformationRight {
        width: 100%;
    }
    #InformationName {
        width: 80%;
        font-size: 32px;
        margin-top: 9%;
        margin-bottom: 9%;
        height: 8%;
    }
    #InformationName::after {
        margin-top: 42px;
    }
    #InformationScroll {
        width: 70%;
    }
    #Ul {
        height: 11%;
    }
    #Ul li {
        width: 15px;
        font-size: 15px;
        vertical-align: top;
    }
    #Ul li:nth-child(1) {
        left: 5%;
    }
    #InformationUl {
        width: 85%;
    }
    .InformationName {
        width: 43%;
    }
    .InformationValue {
        width: 57%;
        padding-left: 8px;
    }
}

@media screen and (min-width: 250px) and (max-width:599px) {
    #InformationScroll {
        margin-top: 3%;
    }
    #InformationUl {
        width: 85%;
    }
    #InformationName {
        font-size: 30px;
    }
    #Ul li {
        font-size: 13px;
    }
    #Ul li:nth-child(2) {
        left: 22%;
    }
    #Ul li:nth-child(3) {
        left: 38%;
    }
    #Ul li:nth-child(4) {
        left: 52%;
    }
    .InformationName {
        width: 45%;
        font-size: 14px;
    }
    .InformationValue {
        width: 55%;
        padding-left: 8px;
    }
}

@media screen and (min-width: 330px) and (max-width:339px) {
    #Ul li:nth-child(1) {
        left: 6%;
    }
    #Ul li:nth-child(2) {
        left: 23%;
    }
    #Ul li:nth-child(3) {
        left: 40%;
    }
    #Ul li:nth-child(4) {
        left: 55%;
    }
    .InformationName {
        width: 40%;
        font-size: 14px;
    }
    .InformationValue {
        width: 62%;
        padding-left: 8px;
    }
}

@media screen and (min-width: 340px) and (max-width:430px) {
    #Ul li:nth-child(2) {
        left: 24%;
    }
    #Ul li:nth-child(3) {
        left: 42%;
    }
    #Ul li:nth-child(4) {
        left: 58%;
    }
    .InformationName {
        width: 38%;
    }
    .InformationValue {
        width: 64%;
    }
}

@media screen and (min-width: 431px) and (max-width:469px) {
    #Ul li:nth-child(1) {
        left: 5%;
    }
    #Ul li:nth-child(2) {
        left: 25%;
    }
    #Ul li:nth-child(3) {
        left: 44%;
    }
    #Ul li:nth-child(4) {
        left: 60%;
    }
    .InformationName {
        width: 34%;
        font-size: 14px;
    }
    .InformationValue {
        width: 60%;
        padding-left: 8px;
    }
}

@media screen and (min-width: 470px) and (max-width: 600px) {
    #InformationName {
        width: 80%;
        font-size: 32px;
        height: 8%;
        margin-top: 10%;
        margin-bottom: 6%;
    }
    #InformationScroll {
        margin-bottom: 3%;
    }
    #Ul li:nth-child(2) {
        left: 25%;
    }
    #Ul li:nth-child(3) {
        left: 44%;
    }
    #Ul li:nth-child(4) {
        left: 66%;
    }
    .InformationName {
        width: 30%;
        font-size: 14px;
    }
    .InformationValue {
        width: 60%;
        padding-left: 8px;
    }
}

@media screen and (min-width: 601px) and (max-width: 799px) {
    #InformationName {
        width: 80%;
        font-size: 26px;
        height: 12%;
        margin-bottom: 15px;
        margin-top: 5%;
    }
    #InformationName::after {
        margin-top: 36px;
    }
    #InformationScroll {
        width: 70%;
    }
    #Ul {
        height: 10%;
    }
    #Ul li {
        font-size: 12px;
        vertical-align: top;
        /* width:15px; */
        width: auto;
    }
    #Ul li:nth-child(1) {
        left: 5%;
    }
    #Ul li:nth-child(2) {
        left: 22%;
    }
    #Ul li:nth-child(3) {
        left: 38%;
    }
    #Ul li:nth-child(4) {
        left: 52%;
    }
    #InformationUl {
        margin-top: 0px;
        width: 75%;
    }
    .InformationName {
        width: 40%;
        font-size: 12px;
    }
    .InformationValue {
        width: 60%;
        /* height: 15px; */
        padding-left: 8px;
        font-size: 12px;
    }
}


/* @media screen and (min-width: 600px) and (max-width: 639px) {
    #Ul li:nth-child(1){
        left:6%;
    }
    #Ul li:nth-child(2){
        left:28%;
    }
    #Ul li:nth-child(3){
        left:48%;
    }
    #Ul li:nth-child(4){
        left:70%;
    }
} */

@media screen and (min-width: 600px) and (max-width: 700px) {
    #Ul li:nth-child(1) {
        left: 6%;
    }
    #Ul li:nth-child(2) {
        left: 20%;
    }
    #Ul li:nth-child(3) {
        left: 40%;
    }
    #Ul li:nth-child(4) {
        left: 58%;
    }
}

@media screen and (width: 600px) {
    #Ul li:nth-child(1) {
        left: 6%;
    }
    #Ul li:nth-child(2) {
        left: 28%;
    }
    #Ul li:nth-child(3) {
        left: 48%;
    }
    #Ul li:nth-child(4) {
        left: 70%;
    }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
    #Ul li:nth-child(1) {
        left: 6%;
    }
    #Ul li:nth-child(2) {
        left: 14%;
    }
    #Ul li:nth-child(3) {
        left: 25%;
    }
    #Ul li:nth-child(4) {
        left: 36%;
    }
}

@media screen and (min-width: 700px) {
    #InformationContent {
        width: 65vw;
        height: 32.5vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
    #InformationName {
        width: 80%;
        font-size: 30px;
        height: 13%;
        margin-bottom: 10px;
        /* margin-top:40px; */
    }
    #InformationName::after {
        margin-top: 40px;
    }
    #Ul li {
        display: inline-block;
        position: relative;
        color: #f0ecec;
        font-size: 13px;
    }
    .InformationName {
        width: 42%;
        font-size: 13px;
    }
    .InformationValue {
        width: 58%;
        height: 16px;
        padding-left: 8px;
        font-size: 13px;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    #Ul li:nth-child(1) {
        left: 2%;
    }
    #Ul li:nth-child(2) {
        left: 10%;
    }
    #Ul li:nth-child(3) {
        left: 25%;
    }
    #Ul li:nth-child(4) {
        left: 40%;
    }
    .InformationValue {
        width: 65%;
        /* height: 25px; */
        padding-left: 8px;
        font-size: 13px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1023px) {
    #Ul li:nth-child(1) {
        left: 2%;
    }
    #Ul li:nth-child(2) {
        left: 14%;
    }
    #Ul li:nth-child(3) {
        left: 32%;
    }
    #Ul li:nth-child(4) {
        left: 46%;
    }
    .InformationName {
        width: 35%;
    }
    .InformationValue {
        width: 65%;
        height: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1119px) {
    #Ul li:nth-child(1) {
        left: 2%;
    }
    #Ul li:nth-child(2) {
        left: 16%;
    }
    #Ul li:nth-child(3) {
        left: 32%;
    }
    #Ul li:nth-child(4) {
        left: 46%;
    }
}

@media screen and (min-width: 1120px) and (max-width:1299px) {
    #Ul li:nth-child(1) {
        left: 2%;
    }
    #Ul li:nth-child(2) {
        left: 18%;
    }
    #Ul li:nth-child(3) {
        left: 34%;
    }
    #Ul li:nth-child(4) {
        left: 52%;
    }
}

@media screen and (min-width: 1300px) {
    #Ul li:nth-child(1) {
        left: 1%;
    }
    #Ul li:nth-child(2) {
        left: 18%;
    }
    #Ul li:nth-child(3) {
        left: 38%;
    }
    #Ul li:nth-child(4) {
        left: 58%;
    }
    .InformationValue {
        width: 65%;
        min-height: 25px;
    }
}