#Information {
    width: 100%;
    min-width:320px;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(93, 93, 93, 0.8);
}

#InformationContent {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 65%; 
    min-width:320px;
    height: 80%;
    box-shadow: 0px 2px 15px black;
}

#InformationLeft {
    display: inline-block;
    width: 49%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../ResourceFile/thoughtworks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 100%;
    -moz-background-size: 90% 100%;
}

#InformationRight {
    display: inline-block;
    width: 51%;
    height: 100%;
    background-color: #5d5d5d;
    padding-bottom:10px;
    box-sizing:border-box;
}

#InformationName {
    width: 80%;
    height: 17%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin-top: 8%;
    margin-bottom: 5%;
}

#InformationName::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #c0c0c0;
    margin-top: 0px;
    margin-left: -10px;
    border-radius: 150px;
}

#InformationName::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 60px;
    background-color: #c0c0c0;
    margin-top: 52px;
    margin-left: -45px;
    border-radius: 150px;
}
#middle{
    width:80%;
    height:15%;
    margin:0 auto;
}
#InformationScroll {
    width: 100%;
    height: 15px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid transparent;
    margin-bottom: 1.5%;
}

#scrollBox {
    width: 0;
    height: 100%;
    background-color: #f61947;
    position: relative;
    overflow: hidden;
    animation: animate-positive 1.5s linear 1s 1;
}

#ScrollColor {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background: linear-gradient(to right, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent 100%);
    z-index: 2;
    background-size: 100px;
    animation: move2 1s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

@keyframes move2 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 50px 0px;
    }
}

@keyframes animate-positive {
    0% {
        width: 0px;
    }
}

#Ul {
    width: 100%;
    height: 5%;
    margin: 0 auto;
    padding:0;
    list-style-type: none;
}

#Ul li {
    display: inline-block;
    position: relative;
    color: #f0ecec;
    font-size: 15px;
}

#Ul li:nth-child(1) {
    left: 2%;
}

#Ul li:nth-child(2) {
    left: 20%;
}

#Ul li:nth-child(3) {
    left: 35%;
}

#Ul li:nth-child(4) {
    left: 55%;
}

#InformationUl {
    width: 80%;
    height: 58%;
    margin: 0 auto;
    margin-top: 10px;
    list-style-type: none;
    padding:0;
}

.InformationBox {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.InformationLi {
    position: relative;
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InformationName {
    width: 28%;
    font-size: 15px;
    color: #ffffff;
}

.InformationValue {
    width: 72%;
    min-height: 20px;
    background-color: white;
    border-radius: 3px;
    color: #303030;
    font-size: 14px;
    padding: 0.3rem;
    padding-left: 20px;
    border-style: none;
}

@media screen and (max-width:800px) {
    #InformationLeft {
        display: none;
    }
    #InformationRight {
        width: 100%;
    }
    #InformationName {
        width: 80%;
        font-size: 32px;
        margin-top: 9%;
        margin-bottom: 9%;
        height: 8%;
    }
    #InformationName::after {
        margin-top: 42px;
    }
    #Ul {
        height: 11%;
    }
    #Ul li {
        width: 15px;
        font-size: 15px;
        vertical-align: top;
    }
    #Ul li:nth-child(1) {
        left: 5%;
    }
    #InformationUl {
        width: 80%;
    }
    .InformationName {
        width: 43%;
        font-size: 15px;
    }
    .InformationValue {
        width: 57%;
        height: 15px;
        padding-left: 8px;
        font-size: 15px;
    }
    #InformationName::after {
        margin-top: 46px;
    }
}
@media screen and (max-width:329px){
    .InformationName {
        width: 52%;
    }
    .InformationValue {
        width: 48%;
        padding-left: 8px;
    }
} 

@media screen and (min-width: 320px) and (max-width:960px) {
    .InformationName {
        font-size: 14px;
    }
    .InformationValue {
        width: 62%;
        padding-left: 8px;
    }
    #Ul li:nth-child(1) {
        left: 2%;
    }
    #Ul li:nth-child(2) {
        left: 28%;
    }
    #Ul li:nth-child(3) {
        left: 54%;
    }
    #Ul li:nth-child(4) {
        left: 85%;
    }
}
@media screen and (min-width: 320px) and (max-width:680px) {
    #Ul li:nth-child(2) {
        left: 28%;
    }
    #Ul li:nth-child(3) {
        left: 52%;
    }
    #Ul li:nth-child(4) {
        left: 80%;
    }
}
@media screen and (min-width: 320px) and (max-width:580px) {
    #Ul li:nth-child(1) {
        left: 1%;
    }
    #Ul li:nth-child(4) {
        left: 77%;
    }
}
@media screen and (min-width: 300px) and (max-width:470px) {
    #Ul li:nth-child(2) {
        left: 26%;
    }
    #Ul li:nth-child(3) {
        left: 50%;
    }
    #Ul li:nth-child(4) {
        left: 76%;
    }
}
@media screen and (min-width: 300px) and (max-width:415px) {
    #Ul li:nth-child(4) {
        left: 74%;
    }
}
@media screen and (min-width: 320px) and (max-width:380px) {
    #Ul li:nth-child(2) {
        left: 26%;
    }
    #Ul li:nth-child(3) {
        left: 50%;
    }
    #Ul li:nth-child(4) {
        left: 76%;
    }
}
@media screen and (min-width: 360px) and (max-width:680px) {
    #InformationContent{
        height:60%;
    }
}
@media screen and (min-width: 850px) {
    #InformationContent {
        width: 65vw;
        height: 32.5vw;
    }
}
@media screen and (min-width: 600px) and (max-width:800px) {
    
    .InformationName {
        font-size: 18px;
    }
    .InformationValue {
        font-size: 18px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    #InformationUl{
        margin-top:20px;
    }
    #InformationName {
        width: 80%;
        font-size: 30px;
        height: 12%;
        margin-bottom: 20px;
    }
    #InformationName::after {
        margin-top: 40px;
    }
    #Ul li {
        display: inline-block;
        position: relative;
        color: #f0ecec;
        font-size: 13px;
    }
    .InformationName {
        width: 42%;
        font-size: 13px;
    }
    .InformationValue {
        width: 58%;
        height: 15px;
        padding-left: 8px;
        font-size: 13px;
    }
}
@media screen and (min-width: 801px) and (max-width:960px){
    #Ul li:nth-child(1) {
        left: 0%;
    }
    #Ul li:nth-child(2) {
        left: 12%;
    }
    #Ul li:nth-child(3) {
        left: 26%;
    }
    #Ul li:nth-child(4) {
        left: 36%;
    }
} 
@media screen and (min-width: 871px) and (max-width:960px){
    #Ul li:nth-child(2) {
        left: 12%;
    }
    #Ul li:nth-child(3) {
        left: 28%;
    }
    #Ul li:nth-child(4) {
        left: 40%;
    }
} 
@media screen and (min-width: 961px) and (max-width:1023px){
    #Ul li:nth-child(2) {
        left: 12%;
    }
    #Ul li:nth-child(3) {
        left: 30%;
    }
    #Ul li:nth-child(4) {
        left: 44%;
    }
} 
@media screen and (min-width: 1024px) and (max-width:1099px){
    #Ul li:nth-child(2) {
        left: 14%;
    }
    #Ul li:nth-child(3) {
        left: 28%;
    }
    #Ul li:nth-child(4) {
        left: 40%;
    }
}
@media screen and (min-width: 1100px) and (max-width:1280px){
    #Ul li:nth-child(2) {
        left: 15%;
    }
    #Ul li:nth-child(3) {
        left: 31%;
    }
    #Ul li:nth-child(4) {
        left: 46%;
    }
}
@media screen and (min-width: 1280px) {
    #Ul li:nth-child(2) {
        left: 19%;
    }
    #Ul li:nth-child(3) {
        left: 38%;
    }
    #Ul li:nth-child(4) {
        left: 52%;
    }
}