.navbar{
	width: 100%;
	height: 8%;
	background-color: cornflowerblue;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	position:fixed;
}
li{
	list-style: none;
	margin: 0;
	padding: 0;
	
	
}
a{
	text-decoration: none;
}
.nav-right{
	top: 17%;
	position: absolute;
	left: 93%;
}
.nav-left{
	position: absolute;
	top: 19%;
	left: 5%;
}
span{
	color:rgba(72, 73, 75, 0.827);
	font-size: 2rem;
	position: absolute;
	top: 11%;
	opacity: 0;
	width:5rem ;
	padding: 0 0 0 0.5rem;
}
.nav-right:hover span{
	opacity: 1;
	transition: 0.5s;
}
.nav-left:hover span{
	opacity: 1;
	transition: 0.5s;
}
@media screen and (min-width:0px) and (max-width:550px){
	.navbar{
	bottom: 0;
	position: fixed;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0;
	margin: 0;
}
.nav-right{
	position: absolute;
	top: 15%;
	left: 75%;
}
span{
	opacity: 1;
}
}
