.table {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #27C1CB, #61DED2);
}

#back {
    width: 40px;
    height: 40px;
    margin-left: 12px;
}

.login {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.table .actionButton {
    width: 36px;
    height: 36px;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border: 1px solid black;
}

.table .actionButton img {
    width: 34px;
    height: auto;
}

.table .actionButton:nth-of-type(-n+1) {
    border: transparent;
    background: none;
}

.table .actionButton:nth-of-type(1):hover {
    background: none;
}

.login .actionButton * {
    margin: 0;
}