.Backend-background{
	     width:100%;
        height: 120%;
        background-image: url("background.jpg");
        background-size: 100% 100%;
        opacity:0.7;
        filter:alpha(opacity=70);
        position: absolute;
}
.Backend-title{
            position: relative;
            top: 25%;
        }
.Backend-title h2{
            position: absolute;
            color: #fff;
            transform: translate(-50%, -50%);
            font-size: 8em;
            top: 30%;
            left: 50%;
        }
.Backend-title h2:nth-child(1){
            color: transparent;
            -webkit-text-stroke: 2px #03a9f4;

        }
.Backend-title h2:nth-child(2){
            color: #03a9f4;
            animation: animate 4s ease-in-out infinite;
            
        }
@keyframes animate {
            0% {
                clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            }
            50%{
                clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            }
            100%{
                clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            }
        }
/*.Backend-column{
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  left: 11%;
  background-color: #e5f5ff;
  box-shadow: 0 1px 2px 0 #697886;
  opacity: 0.5;
}*/
/*.Backend-title{
	text-align: center;
	font-size: 8rem; 
	font-weight: 900; 
	color: #CCCCFF;
	z-index: 0;
	position: absolute;
	top: 10%;
  width: 100%;
}
@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -1rem;
  }
  100% {
    top: 0;
  }
}
.Backend-title span {
  position: relative;
  color: #5362F6;
  text-shadow: 0.25rem 0.25rem #E485F8;
  animation: scatter 1.75s infinite;
}

.Backend-title span:nth-child(2) {
  color:#ED625C;
  text-shadow: 0.25rem 0.25rem #F2A063;
  animation-delay: 0.3s;
}

.Backend-title span:nth-child(3) {
  color: #FFD913;
  text-shadow: 0.25rem 0.25rem #6EC0A9;
  animation-delay: 0.15s;
}
.Backend-title span:nth-child(4) {
  color:  #555BFF;
  text-shadow: 0.25rem 0.25rem #E485F8;
  animation-delay: 0.45s;
}*/
.Backend-container{
	width: 100%;
	position: absolute;
	height: 80%;
}
.Backend-box-title{
  background-color: #006680;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  padding: 0.5rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.Backend-box1:hover{
  transform: translateX(0.5rem);
  transition: all 0.2s ease;
}
.Backend-box2:hover{
  transform: translateX(0.5rem);
  transition: all 0.2s ease;
}
.Backend-box3:hover{
  transform: translateX(0.5rem);
  transition: all 0.2s ease;
}
.Backend-box1{
	position: absolute;
  /*background-image: linear-gradient(to bottom, #e5f2ff,  #b3d9ff, #29a3a3 );*/
  background-color:  #c2f0f0;
  width: 20%;
	height: 43%;
	top: 93%;
	left: 15%;
	/*border-radius: 1rem;*/
	float: left;
	box-shadow:2px 2px 3px #aaaaaa;
  z-index: 2;
  opacity: 0.9;
}
.Backend-text4{
	font-size: 2rem;
  opacity: 1;
  position: absolute;
  top: 37%;
  left: 15%;
  width: 70%;
  height: 27%;
}
.Backend-box2{
	position: absolute;
	/*background-image: linear-gradient(to bottom,  #ccb3ff, #ffe5ff, #ffffe5);*/
  background-color:  #c2f0f0;
	width: 20%; 
	height: 43%;
	top: 93%;
	left: 43%;
	/*border-radius: 1rem;*/
	float: left;
	box-shadow:2px 2px 3px #aaaaaa;
  z-index: 2;
  opacity: 0.9;
}
.Backend-box2 ul{
	position: absolute;
	top: 15%;
	left: 8%;
	font-size: 2rem;
	opacity: 1;
}
.Backend-box2 h1{
	position: absolute;
	top: 5%;
	left: 5%;
	font-size: 2rem;
	opacity: 1;
}
.Backend-logo{
  width: 100%;
  height: 100%;
  box-shadow:2px 2px 3px #aaaaaa;
  opacity: 0.9;
}
.Backend-sql{
  width: 100%;
  height: 100%;
  box-shadow:2px 2px 3px #aaaaaa;
  opacity: 0.9;
}
.Backend-helloworld{
  width: 100%;
  height: 100%;
  box-shadow:2px 2px 3px #aaaaaa;
  opacity: 0.9;
}
.Backend-box3-pic{
  position: absolute;
  top: 70%;
  left: 67%;
  width: 18%;
  height:35%;
  z-index: 0;
}
.Backend-box2-pic{
  position: absolute;
  top: 70%;
  left: 39%;
  width: 18%;
  height:35%;
  z-index: 0;
}
.Backend-box1-pic{
  position: absolute;
  top: 70%;
  left: 11%;
  width: 18%;
  height:35%;
  z-index: 0;
}
.Backend-box3{
  position: absolute;
  /*background-image: linear-gradient(to bottom, #ccb3ff, #ffe5ff, #ffffe5);*/
  background-color:  #c2f0f0;
  width: 20%; 
  height: 43%;
  top: 93%;
  left: 71%;
  /*border-radius: 1rem;*/
  float: left;
  box-shadow:2px 2px 3px #aaaaaa;
  z-index: 2;
  opacity: 0.9;
}
.Backend-text3{
  position: absolute;
  top: 5%;
  left: 8%;
  width: 86%;
  font-size: 2rem;
}
.Backend-box4{
  position: absolute;
  top: 33%;
  left: 12%;
  width: 76%;
  height: 25%;
  background-color: #e5f5ff;
  box-shadow: 0 1px 2px 0 #697886;
  opacity: 0.5;
}
.Backend-box1-text{
  font-size: 1.3rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 10%;
}
.Backend-box2-text{
  font-size: 1.3rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 10%;
}
.Backend-box3-text{
  font-size: 1.3rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 10%;
}
.Backend-head{
  color: #006680;
  position: absolute;
  top: 60%;
  left: 11%;
  font-weight: 900;
  font-size: 3rem;
}
@media screen and (min-width:320px) and (max-width:800px){
  .Backend-background{
      width:100%;
      height: 230%;
      background-image: url("background.jpg");
      background-size: 100% 100%;
      opacity:0.7;
      filter:alpha(opacity=70);
      position: absolute;
  }
  .Backend-box1{
    width: 70%;
    left: 22%;
    height: 45%;
    position: absolute;
    top: 95%;
  }
  .Backend-box1-pic{
  width: 60%;
  position: absolute;
  top: 75%;
  }
  .Backend-box2{
    width: 70%;
    left: 22%;
    position: absolute;
    top: 165%;
    height: 45%;
  }
  .Backend-box2-pic{
    width: 60%;
    position: absolute;
    top: 143%;
    left: 10%;
  }
  .Backend-box3{
    width: 70%;
    left: 22%;
    position: absolute;
    top: 235%;
    height: 45%;
  }
  .Backend-box3-pic{
    width: 60%;
    position: absolute;
    top: 213%;
    left: 10%;
  }
  .Backend-box4{
    height: 33%;
  }
  .Backend-title{
            position: relative;
            top: 25%;
        }
  .Backend-title h2{
            position: absolute;
            color: #fff;
            transform: translate(-50%, -50%);
            font-size: 5em;
            top: 30%;
            left: 50%;
        }
  .Backend-title h2:nth-child(1){
            color: transparent;
            -webkit-text-stroke: 2px #03a9f4;

        }
  .Backend-title h2:nth-child(2){
            color: #03a9f4;
            animation: animate 4s ease-in-out infinite;
            
        }
  .Backend-text4{
    font-size: 1.5rem;
    top: 33%;
  }
  .Backend-head{
    font-size: 2rem;
    top: 68%;
  }
}
@media screen and (min-width:700px) and (max-width: 1024px){
  .Backend-background{
      width:100%;
      height: 260%;
      background-image: url("background.jpg");
      background-size: 100% 100%;
      opacity:0.7;
      filter:alpha(opacity=70);
      position: absolute;
  }
  .Backend-box1{
    width: 45%;
    left: 42%;
    height: 45%;
    position: absolute;
    top: 105%;
  }
  .Backend-box1-pic{
  width: 48%;
  height: 40%;
  position: absolute;
  top: 78%;
  left:20%; 
  }
  .Backend-box2{
    width: 45%;
    left: 42%;
    position: absolute;
    top: 185%;
    height: 45%;
  }
  .Backend-box2-pic{
    width: 48%;
    height:40%;
    position: absolute;
    top: 160%;
    left: 20%;
  }
  .Backend-box3{
    width: 45%;
    left: 42%;
    position: absolute;
    top: 265%;
    height: 45%;
  }
  .Backend-box3-pic{
    width: 48%;
    height: 40%;
    position: absolute;
    top: 240%;
    left: 20%;
  }
  .Backend-box4{
    height: 33%;
  }
  .Backend-title{
            position: relative;
            top: 25%;
        }
  .Backend-title h2{
            position: absolute;
            color: #fff;
            transform: translate(-50%, -50%);
            font-size: 8em;
            top: 30%;
            left: 50%;
        }
  .Backend-title h2:nth-child(1){
            color: transparent;
            -webkit-text-stroke: 2px #03a9f4;

        }
  .Backend-title h2:nth-child(2){
            color: #03a9f4;
            animation: animate 4s ease-in-out infinite;
            
        }
  .Backend-text4{
    font-size: 2.5rem;
    top: 33%;
  }
  .Backend-head{
    font-size: 2.5rem;
    top: 68%;
  }
  .Backend-box1-text{
  font-size: 2rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 7%;
  }
.Backend-box2-text{
  font-size: 2rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 7%;
}
.Backend-box3-text{
  font-size: 2rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 7%;
}
.Backend-box-title{
  background-color: #006680;
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 0.5rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
}
}
@media screen and (min-width:1025px) and (max-width: 1280px){
  .Backend-background{
      width:100%;
      height: 200%;
      background-image: url("background.jpg");
      background-size: 100% 100%;
      opacity:0.7;
      filter:alpha(opacity=70);
      position: absolute;
  }
  .Backend-box1{
    width: 29%;
    left: 22%;
    height: 50%;
    position: absolute;
    top: 98%;
  }
  .Backend-box1-pic{
  width: 27%;
  height: 32%;
  position: absolute;
  top: 78%;
  left:11%; 
  }
  .Backend-box2{
    width: 29%;
    left: 60%;
    position: absolute;
    top: 98%;
    height: 50%;
  }
  .Backend-box2-pic{
    width: 25%;
    height:32%;
    position: absolute;
    top: 78%;
    left: 53%;
  }
  .Backend-box3{
    width: 29%;
    left: 42%;
    position: absolute;
    top: 180%;
    height: 50%;
  }
  .Backend-box3-pic{
    width: 25%;
    height: 32%;
    position: absolute;
    top: 160%;
    left: 30%;
  }
  .Backend-box4{
    height: 33%;
  }
  .Backend-title{
            position: relative;
            top: 25%;
        }
  .Backend-title h2{
            position: absolute;
            color: #fff;
            transform: translate(-50%, -50%);
            font-size: 8em;
            top: 30%;
            left: 50%;
        }
  .Backend-title h2:nth-child(1){
            color: transparent;
            -webkit-text-stroke: 2px #03a9f4;

        }
  .Backend-title h2:nth-child(2){
            color: #03a9f4;
            animation: animate 4s ease-in-out infinite;
            
        }
  .Backend-text4{
    font-size: 2rem;
    top: 33%;
  }
  .Backend-head{
    font-size: 2.5rem;
    top: 68%;
  }
  .Backend-box1-text{
  font-size: 1.5rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 14%;
  }
.Backend-box2-text{
  font-size: 1.5rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 10%;
}
.Backend-box3-text{
  font-size: 1.5rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 10%;
}
.Backend-box-title{
  background-color: #006680;
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 0.5rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
}
}
@media screen and  (max-width: 320px){
  .Backend-text4{
    font-size: 1.3rem;
    top: 33%;
  }
  .Backend-head{
    font-size: 2rem;
    top: 68%;
  }
  .Backend-box1-text{
  font-size: 1.1rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 14%;
  }
.Backend-box2-text{
  font-size: 1.1rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 10%;
}
.Backend-box3-text{
  font-size: 1.1rem;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 10%;
}

}
