*{
	margin:0;
	padding:0;
	font-family: "PingFang SC", "Lantinghei SC", "Open Sans", Roboto, Arial, "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
	font-size:1.1rem;
}

/**/body{
	position: absolute;
	background-color: white;
	width:100%;
	height:100%;
}

html,
body {
    font-size: 62.5% !important;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: snow !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a,
ul,
ol,
li {
    text-decoration: none;
    list-style: none;
    color: unset;
    border: none;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 60%;
    height: 4rem;
    font-size: 4rem;
    color: snow;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 0.1rem solid snow;
}

article {
    display: inline;
}

a {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.top {
    width: 90%;
    max-height: 56.25px;
    background-image: linear-gradient(90deg, #e2d0e7 20%, #ababdf 60%);
    color: hsla(0, 0%, 100%, .7);
    font-size: 4rem;
    position: absolute;
    padding: 2rem 5%;
    display: flex;
    z-index: 10;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0 1px 2px 0 #697886;
}

.left {
    margin-left: 2rem;
    position: relative;
}

.right {
    display: block;
    margin-right: 2rem;
    position: absolute;
    right: 5%;
}

.button {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    width: max-content;
    padding: 0.2rem 2rem;
    height: 6rem;
    display: flex;
    text-justify: distribute;
    color: #24292e;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    word-wrap: break-word;
}

#divbg,#divbgTwo{
        width:100%;
        height: 100%;
        background-image: url("深蓝大星（灰绿2）.jpg");/*添加背景图片*/
        background-size: 100% 100%;
        opacity:0.7;
        filter:alpha(opacity=70);
        position: absolute;
    }
#divbg{
        opacity:0.8;
        filter:alpha(opacity=80);
    }

#InformationUl{
	position: relative;
	list-style-type: none;
	background-color: #CCCCFF;
	box-shadow: 0px 0px 20px white;
	border-radius: 20px;
	width:60%;	
	height:70%;
	margin:0 auto;
	top:9%;
	display: flex;
	justify-content:center;
	align-items:center;
}
.InformationBox{
	width:60%;
	height:90%;
	margin:0 auto;
}
.InformationLi{
	position: relative;
	width:100%;
	height:17%;
	display: flex;
	justify-content:center;
	align-items:center;
}
.MyInformation{
	!important;
	text-align: center;
	font-size: 4.5rem;
	/*font-family: STSong;*/
    letter-spacing: 10px;
    color:#000066;
	font-weight:600;
	text-shadow: 0 5px 7px #CCCCCC, 0 3px 3px #000066, 0px -3px 3px #fff, 0px -2px 2px #fff;
}
#myImportant{
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    
}

@keyframes bop{
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50%, 100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.InformationName{
	display: inline-block;
	width:32%;
	font-size: 2.5rem;
    font-weight: 600;
    color:white;
    text-shadow: 0.05em -0.03em 0 #000066, 0.05em 0.005em 1px #000066, 0em 0.08em 0 #000066, 0.05em 0em 0.2rem #000066, 0px -0.03em 0 #000066, -0.03em -0.03em 0 #000066, -0.03em 0.08em 0 #000066, 0.12em 0.05em 0 #000066, -0.03em 0 0 #000066;
    /*text-shadow: 0 5px 7px #CCCCCC, 0 3px 3px #000066;*/
    -webkit-animation: wave 1.2s linear infinite;
    animation: wave 1.2s linear infinite;
    animation-delay: 1.66667s;
}
.InformationValue{
    width:40%;
    height:40%;
    padding-left: 10px;
    border-radius: 20px;
    font-size:2.2rem;
    font-weight:600;
    border:1px solid transparent;
    box-shadow:0px 0px 5px #f1ebe5;
    background-color: white;
    color:  #303030 ;

}
.InformationBox .InformationLi:nth-child(2) .InformationName{
    -webkit-animation: wave 1.2s linear infinite;
    animation: wave 1.2s linear infinite;
    -webkit-animation-delay: 1.11s;
    animation-delay: 1.11s;
}
.InformationBox .InformationLi:nth-child(3) .InformationName{
    -webkit-animation: wave 1.2s linear infinite;
    animation: wave 1.2s linear infinite;
    -webkit-animation-delay: 0.666667s;
    animation-delay: 0.666667s;
}
.InformationBox .InformationLi:nth-child(4) .InformationName{
    -webkit-animation: wave 1.2s linear infinite;
    animation: wave 1.2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.InformationBox .InformationLi:nth-child(5) .InformationName{
    -webkit-animation: wave 1.2s linear infinite;
    animation: wave 1.2s linear infinite;
    -webkit-animation-delay: 1.33333s;
    animation-delay: 1.33333s;
}
.InformationBox .InformationLi:nth-child(6) .InformationName{
    -webkit-animation: wave 1.2s linear infinite;
    animation: wave 1.2s linear infinite;
    -webkit-animation-delay:3s;
    animation-delay: 3s;
}
@keyframes wave{
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


@media screen and (min-width: 320px) and (max-width: 359px){
/*    #myImportant{
        font-size: 15rem;
    }
    #InformationUl{
        box-shadow: 0px 0px 20px white;
        border-radius: 20px;
        width:70%;  
        height:70%;
        top:20%;
    }
    .InformationBox{
        width:75%;
        height:90%;
    }
    .InformationName{
        width:40%;
        font-size: 3rem;
        font-weight: 800;
    }
    .InformationValue{
        width:60%;
        height:50%;
        font-size:2.5rem;
        font-weight:600;
    }*/
}

@media screen and (min-width: 360px) and (max-width: 374px){
    #myImportant{
        font-size: 15rem;
    }
    #InformationUl{
        box-shadow: 0px 0px 20px white;
        border-radius: 20px;
        width:70%;  
        height:70%;
        top:20%;
    }
    .InformationBox{
        width:75%;
        height:90%;
    }
    .InformationName{
        width:40%;
        font-size: 3rem;
        font-weight: 800;
    }
    .InformationValue{
        width:60%;
        height:50%;
        font-size:2.5rem;
        font-weight:600;
    }
}

@media screen and (min-width: 800px) and (max-width:1023px) {
    #myImportant{
        font-size: 4rem;
    }
    #InformationUl{
        box-shadow: 0px 0px 20px white;
        border-radius: 20px;
        width:70%;  
        height:70%;
        top:20%;
    }
    .InformationBox{
        width:75%;
        height:90%;
    }
    .InformationName{
        width:45%;
        font-size: 3rem;
        font-weight: 800;
    }
    .InformationValue{
        width:55%;
        height:50%;
        font-size:2.5rem;
        font-weight:600;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    #myImportant{
        font-size: 4rem;
    }
    #InformationUl{
        box-shadow: 0px 0px 20px white;
        border-radius: 20px;
        width:70%;  
        height:70%;
        top:20%;
    }
    .InformationBox{
        width:80%;
        height:90%;
    }
    .InformationName{
        width:30%;
        font-size: 3rem;
        font-weight: 800;
    }
    .InformationValue{
        width:70%;
        height:50%;
        font-size:2.5rem;
        font-weight:600;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1365px){
    #myImportant{
        font-size: 5.5rem;
    }
    #InformationUl{
        box-shadow: 0px 0px 20px white;
        border-radius: 20px;
        width:70%;  
        height:72%;
        top:20%;
    }
    .InformationBox{
        width:80%;
        height:90%;
    }
    .InformationName{
        width:34%;
        font-size: 3.8rem;
        font-weight: 900;
    }
    .InformationValue{
        width:66%;
        height:55%;
        font-size:3rem;
        font-weight:600;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1439px){
    #myImportant{
        font-size: 4.5rem;
    }
    #InformationUl{
        box-shadow: 0px 0px 20px white;
        border-radius: 20px;
        width:70%;  
        height:72%;
        top:17%;
    }
    .InformationBox{
        width:73%;
        height:90%;
    }
    .InformationName{
        width:30%;
        font-size: 3rem;
        font-weight: 800;
    }
    .InformationValue{
        width:70%;
        height:50%;
        font-size:2.5rem;
        font-weight:600;
        padding-left: 20px;
    }
}



@media screen and (min-width: 1440px) {
    #myImportant{
        font-size: 5.7rem;
    }
    #InformationUl{
        box-shadow: 0px 0px 20px white;
        border-radius: 20px;
        width:80%;  
        height:80%;
        top:13%;
    }
    .InformationBox{
        width:70%;
        height:90%;
    }
    .InformationName{
        width:35%;
        font-size: 4.7rem;
        font-weight: 800;
    }
    .InformationValue{
        width:65%;
        height:55%;
        font-size:4rem;
        font-weight:600;
    }
}
