html,
body {
    font-size: 62.5% !important;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: snow !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a,
ul,
ol,
li {
    text-decoration: none;
    list-style: none;
    color: unset;
    border: none;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 80%;
    height: 4rem;
    font-size: 4rem;
    color: snow;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 0.1rem solid snow;
}

article {
    display: inline;
}

a {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.top {
    width: 90%;
    max-height: 56.25px;
    background-image: linear-gradient(90deg, #e2d0e7 20%, #ababdf 60%);
    color: hsla(0, 0%, 100%, .7);
    font-size: 4rem;
    position: absolute;
    padding: 2rem 5%;
    display: flex;
    z-index: 10;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0 1px 2px 0 #697886;
}

.left {
    margin-left: 2rem;
    position: relative;
}

.right {
    display: block;
    margin-right: 2rem;
    position: absolute;
    right: 5%;
}

.button {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    width: max-content;
    padding: 0.2rem 2rem;
    height: 6rem;
    display: flex;
    text-justify: distribute;
    color: #24292e;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    word-wrap: break-word;
}