body{
    background-image: url(../img/background.jpg);padding-bottom: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 1200px;
    margin: 12rem auto 0;
}
.card{
    position: relative;
}
.small{
    width: 42rem;
    height: 31rem;
    padding: 4.8rem;
    margin-bottom: 4rem;
    background-image: url(../img/星球1.jpg);
    background-size: 111.215rem 40.5rem;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    margin: 0px 8rem;
    cursor: pointer;
}
.big_card1{
    position: relative;
    margin: 15rem auto 20rem;
}
.big_card1::before{
    content: "实验室介绍";
    display: block;
    position: absolute;
    background: rgb(36, 30, 30);
    font-size: 1.5rem;
    color: white;
    width: 15rem;
    height: 3.5rem;
    line-height: 2.4;
    text-align: center;
    z-index: 3;
    top: -1rem;
    left: 8rem;
}
.big_card2{
    position: relative;
    margin: 20rem auto 12rem;
}
.big_card2::before{
    content: "公司介绍";
    display: block;
    position: absolute;
    background: rgb(36, 30, 30);
    font-size: 1.5rem;
    color: white;
    width: 15rem;
    height: 3.5rem;
    line-height: 2.4;
    text-align: center;
    z-index: 3;
    top: -1rem;
    left: 8rem;
}
.card_1{
    background-position: -19.315rem 0;
    position: relative; 
}
.card_2{
    background-position: -46.315rem 0;
    position: absolute;
    top: 10rem;
    left: 48rem;
}
.card_3{
    background-position: -19.315rem 0;
    position: relative;
}
.card_4{
    background-position: -46.315rem 0;
    position: absolute;
    top: 10rem;
    left: 48rem;     
}
.card div p{
    font-size: 2rem;
    display: inline-block;
    vertical-align: top;
    user-select:none; 
    color: #000000;
    line-height: 1.5;   
}
.card p{
    position: relative;
}
.right1, .right2{
    display: inline-block;
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: -50px;
    right: -28px;
    font-size: 1.5rem;
}
.left1, .left2{
    display: inline-block;
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: -50px;
    right: -28px;
    font-size: 1.5rem;
}
.arrow{
    display: none;
}
@media screen and (max-width: 320px){
    *{
        font-size: 40%;
    }
    /* #ce{
        width: 10rem; 
        height: 10rem;
    } */
    body{
        padding-bottom: 4rem;
        height: 133rem;
    }
    .container{
        width: 100%;
        margin-top: -7rem;
        
    }
    .small{
        width: 33rem;
        height: 31rem;
        padding: 4.8rem;
        margin-bottom: 4rem;
        background-size: 111.215rem 40.5rem;
        margin: 3.6rem;
        cursor: pointer;
    }
    .big_card1{
        margin: 15rem auto 20rem;
    }
    .big_card1::before{
        font-size: 2rem;
        width: 18rem;
        height: 4.5rem;
        line-height: 2.2;
        top: 2rem;
        left: 1.9rem;
    }
    .big_card2{
        margin: 20rem auto 12rem;
        top: 50rem;
    }
    .big_card2::before{
        font-size: 2rem;
        width: 18rem;
        height: 4.5rem;
        line-height: 2.2;
        top: 2rem;
        left: 1.9rem;
    }
    .card_1{
        background-position: -37.315rem 0;
        position: absolute;
        z-index: 2;
    }
    .card_2{
        background-position: -42.315rem 0;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;
        display: none;

    }
    .card_3{
        background-position: -37.315rem 0;
        position: absolute;
        z-index: 2;
    }
    .card_4{
        background-position: -66.315rem 0;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;
        height: 42rem;
        background-size: cover;
        display: none;

    }
    .card div p{
        font-size: 2.1rem;
        line-height: 1.5;   
    }
    .right1, .right2{
        width: 100px;
        height: 20px;
        bottom: -4.5rem;
        right: -8.5rem;
        font-size: 1.8rem;
    }
    .left1, .left2{
        width: 100px;
        height: 20px;
        bottom: -4.5rem;
        right: -8.5rem;
        font-size: 1.8rem;
    }
    .arrow{
        display: block;
    }
}
@media only screen
		and (min-device-width : 321px)
        and (max-device-width : 414px)
{
    *{
        font-size: 45%;
    }
    /* #ce{
        width: 10rem; 
        height: 10rem;
    } */
    body{
        padding-bottom: 4rem;
        height: 133rem;
    }
    .container{
        width: 100%;
        margin-top: -7rem;
        
    }
    .small{
        width: 33rem;
        height: 31rem;
        padding: 4.8rem;
        margin-bottom: 4rem;
        background-size: 111.215rem 40.5rem;
        /* margin: 3.6rem; */
        cursor: pointer;
    }
    .big_card1{
        margin: 15rem auto 20rem;
    }
    .big_card1::before{
        font-size: 2rem;
        width: 18rem;
        height: 4.5rem;
        line-height: 2.2;
        top: -1rem;
        left: 1.9rem;
    }
    .big_card2{
        margin: 20rem auto 12rem;
        top: 50rem;
    }
    .big_card2::before{
        font-size: 2rem;
        width: 18rem;
        height: 4.5rem;
        line-height: 2.2;
        top: -1rem;
        left: 1.9rem;
    }
    .card_1{
        background-position: -37.315rem 0;
        position: absolute;
        z-index: 2;
        left: 35.5%;
        transform: translate(-50%, 0);
    }
    .card_2{
        background-position: -42.315rem 0;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;
        display: none;
        left: 35.5%;
        transform: translate(-50%, 0);

    }
    .card_3{
        background-position: -37.315rem 0;
        position: absolute;
        z-index: 2;
        left: 35.5%;
        transform: translate(-50%, 0);
    }
    .card_4{
        background-position: -66.315rem 0;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;
        height: 42rem;
        background-size: cover;
        display: none;
        left: 35.5%;
        transform: translate(-50%, 0);

    }
    .card div p{
        font-size: 2.1rem;
        line-height: 1.5;   
    }
    .right1, .right2{
        width: 100px;
        height: 20px;
        bottom: -4.5rem;
        right: -5.5rem;
        font-size: 1.8rem;
    }
    .left1, .left2{
        width: 100px;
        height: 20px;
        bottom: -4.5rem;
        right: -5.5rem;
        font-size: 1.8rem;
    }
    .arrow{
        display: block;
    }
}
@media only screen
		and (min-device-width : 415px)
        and (max-device-width : 767px)
{
    *{
        font-size: 45%;
    }
    /* #ce{
        width: 10rem; 
        height: 10rem;
    } */
    body{
        padding-bottom: 4rem;
        height: 133rem;
    }
    .container{
        width: 100%;
        margin-top: -7rem;
        
    }
    .small{
        width: 33rem;
        height: 31rem;
        padding: 4.8rem;
        margin-bottom: 4rem;
        background-size: 111.215rem 40.5rem;
        /* margin: 3.6rem; */
        cursor: pointer;
    }
    .big_card1{
        margin: 15rem auto 20rem;
    }
    .big_card1::before{
        font-size: 2rem;
        width: 18rem;
        height: 4.5rem;
        line-height: 2.2;
        top: -1rem;
        left: 1.9rem;
    }
    .big_card2{
        margin: 20rem auto 12rem;
        top: 50rem;
    }
    .big_card2::before{
        font-size: 2rem;
        width: 18rem;
        height: 4.5rem;
        line-height: 2.2;
        top: -1rem;
        left: 1.9rem;
    }
    .card_1{
        background-position: -37.315rem 0;
        position: absolute;
        z-index: 2;
        left: 35.5%;
        transform: translate(-50%, 0);
    }
    .card_2{
        background-position: -42.315rem 0;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;
        display: none;
        left: 35.5%;
        transform: translate(-50%, 0);

    }
    .card_3{
        background-position: -37.315rem 0;
        position: absolute;
        z-index: 2;
        left: 35.5%;
        transform: translate(-50%, 0);
    }
    .card_4{
        background-position: -66.315rem 0;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;
        height: 42rem;
        background-size: cover;
        display: none;
        left: 35.5%;
        transform: translate(-50%, 0);

    }
    .card div p{
        font-size: 2.1rem;
        line-height: 1.5;   
    }
    .right1, .right2{
        width: 100px;
        height: 20px;
        bottom: -4.5rem;
        right: -5.5rem;
        font-size: 1.8rem;
    }
    .left1, .left2{
        width: 100px;
        height: 20px;
        bottom: -4.5rem;
        right: -5.5rem;
        font-size: 1.8rem;
    }
    .arrow{
        display: block;
    }
}
@media screen and (min-width : 1280px)
{
    body{
        background-image: url(../img/background.jpg);padding-bottom: 4rem;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container{
        width: 1200px;
        margin: 12rem auto 0;
    }
    .card{
        position: relative;
    }
    .small{
        width: 42rem;
        height: 31rem;
        padding: 4.8rem;
        margin-bottom: 4rem;
        background-image: url(../img/星球1.jpg);
        background-size: 111.215rem 40.5rem;
        background-repeat: no-repeat;
        overflow: hidden;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
        margin: 0px 8rem;
        cursor: pointer;
    }
    .big_card1{
        position: relative;
        margin: 15rem auto 20rem;
    }
    .big_card1::before{
        content: "实验室介绍";
        display: block;
        position: absolute;
        background: rgb(36, 30, 30);
        font-size: 1.5rem;
        color: white;
        width: 15rem;
        height: 3.5rem;
        line-height: 2.4;
        text-align: center;
        z-index: 3;
        top: -1rem;
        left: 8rem;
    }
    .big_card2{
        position: relative;
        margin: 20rem auto 12rem;
    }
    .big_card2::before{
        content: "公司介绍";
        display: block;
        position: absolute;
        background: rgb(36, 30, 30);
        font-size: 1.5rem;
        color: white;
        width: 15rem;
        height: 3.5rem;
        line-height: 2.4;
        text-align: center;
        z-index: 3;
        top: -1rem;
        left: 8rem;
    }
    .card_1{
        background-position: -19.315rem 0;
        position: relative; 
    }
    .card_2{
        background-position: -46.315rem 0;
        position: absolute;
        top: 10rem;
        left: 48rem;
    }
    .card_3{
        background-position: -19.315rem 0;
        position: relative;
    }
    .card_4{
        background-position: -46.315rem 0;
        position: absolute;
        top: 10rem;
        left: 48rem;     
    }
    .card div p{
        font-size: 2rem;
        display: inline-block;
        vertical-align: top;
        user-select:none; 
        color: #000000;
        line-height: 1.5;   
    }
    .card p{
        position: relative;
    }
    .right1, .right2{
        display: inline-block;
        width: 100px;
        height: 20px;
        position: absolute;
        bottom: -50px;
        right: -28px;
        font-size: 1.5rem;
    }
    .left1, .left2{
        display: inline-block;
        width: 100px;
        height: 20px;
        position: absolute;
        bottom: -50px;
        right: -28px;
        font-size: 1.5rem;
    }
    .arrow{
        display: none;
    }
}
/* @media screen and (max-width: 767px){
    .container{
        width: 100%;
        margin: 11rem auto 0;
    }
    .card{
        width: 100%;
        height: 45rem;
        position: relative;
       
    }
    .card div{
        width: 70%;
        height: 50rem;
        padding: 8%;
        background-image: url(../img/星球1.jpg);
        background-size: 137.307rem 50rem;
        background-repeat: no-repeat;
        overflow: hidden;
        margin: 0px 7%;
    }
    .card_1{
        background-position: -37.315rem 0;
        position: absolute;
        z-index: 2;
    }
    .card_2{
        background-position: -66.315rem 0;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: 1;

    }
    .card div p{
        font-size: 2rem;
        display: inline-block;
        vertical-align: top;
        user-select:none; 
        color: #000000;
        line-height: 1.5;
        
    }
    .card p span{
        display: block;
    } */
    /* .arrow_right{
        bottom: -40px;
        right: -28px;
        font-size: 1.5rem;
    }
    .arrow_left{
        bottom: -40px;
        right: -28px;
        font-size: 1.5rem;
    } */
/* } */
/* @media screen and (min-width: 768px ){
    .container{
        width: 100%;
        margin: 11rem auto 0;
    }
    .card{
        width: 100%;
        height: 45rem;
        position: relative;
       
    }
    .card div{
        width: 70%;
        height: 40rem;
        padding: 8%;
        background-image: url(../img/星球1.jpg);
        background-size: 137.307rem 50rem;
        background-repeat: no-repeat;
        overflow: hidden;
        margin: 0px 7%;
    }
    .card_1{
        background-position: -36.315rem 0;
    }
    .card_2{
        background-position: -50.315rem 0;
    }
    .card div p{
        font-size: 2rem;
        display: inline-block;
        vertical-align: top;
        user-select:none; 
        color: #000000;
        line-height: 1.7;
        
    }
    .card p span{
        display: block;
    }
}  
@media screen and (min-width: 1024px){
    .container{
        width: 100%;
        margin: 11rem auto 0; */
        /* overflow: hidden; */
    /* }
    .card{
        width: 100%;
        height: 45rem;
        position: relative;
       
    }
    .card div{
        width: 70%;
        height: 40rem;
        padding: 8%;
        background-image: url(../img/星球1.jpg);
        background-size: 137.307rem 50rem;
        background-repeat: no-repeat;
        overflow: hidden;
        margin: 0px 7%;
    }
    .card_1{
        background-position: -36.315rem 0;
    }
    .card_2{
        background-position: -36.315rem 0;
    }
    .card div p{
        font-size: 2rem;
        display: inline-block;
        vertical-align: top;
        user-select:none; 
        color: #000000;
        line-height: 1.7;
        
    }
    .card p span{
        display: block;
    }
} */
/* @media screen and (min-width: 1200px){
    .container{
        width: 1200px;
        margin: 2.5rem auto 0;
    }
    .card{
        width: 120rem;
        height: 45rem;
    }
    .card div{
        display: inline-block;
        width: 42rem;
        height: 35rem;
        padding: 4.8rem;
        background-image: url(../img/星球1.jpg);
        background-size: 111.215rem 40.5rem;
        background-repeat: no-repeat;
        overflow: hidden;
        margin: 0px 3%;
    }
    .card_1{
        background-position: -19.315rem 0;
    }
    .card_2{
        background-position: -46.315rem 0;
    }
    .card div p{
        font-size: 2rem;
        display: inline-block;
        vertical-align: top;
        user-select:none; 
        color: #000000;
        line-height: 1.5;
        
    }
    .card p span{
    }
} */